@media (max-width: 1920px) {
  .header__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .catalog {
    margin: 0 10px;
  }

  .categories__inner {
    padding-top: calc(0px + 140 * (100vw - 320px) / 1600);
    padding-bottom: calc(30px + 55 * (100vw - 320px) / 1600);
    grid-row-gap: calc(20px + 50 * (100vw - 480px) / 1440);
    grid-column-gap: calc(20px + 50 * (100vw - 480px) / 1440);
  }
  .categories__inner::-webkit-scrollbar {
    display: none;
  }

  .popular__inner,
.new-products__inner,
.sale__inner {
    padding-bottom: calc(30px + 55 * (100vw - 320px) / 1600);
  }

  .categories__title {
    font-size: calc(20px + 12 * (100vw - 480px) / 1440);
  }

  .button-show {
    margin-top: calc(50px + 50 * (100vw - 480px) / 1440);
    margin-bottom: calc(50px + 90 * (100vw - 480px) / 1440);
    font-size: calc(18px + 6 * (100vw - 480px) / 1440);
  }

  .drop-menu__content {
    grid-column-gap: calc(30px + 50 * (100vw - 480px) / 1440);
    grid-row-gap: calc(40px + 40 * (100vw - 480px) / 1440);
  }
}
@media (max-width: 1200px) {
  .header__nav {
    margin-left: auto;
  }

  .main__item + .main__item {
    margin-left: 20px;
  }

  .main__list::-webkit-scrollbar {
    display: none;
  }

  .main__menu .container {
    position: relative;
  }
}
@media (max-width: 1174px) {
  .header__list {
    padding-top: 30px;
  }

  .categories__inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: auto;
    grid-auto-flow: column;
  }

  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .footer__contacts {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .footer__nav {
    width: 100%;
  }
}
@media (max-width: 959px) {
  .bottom-menu {
    display: block;
  }

  .header__nav {
    display: none;
  }

  .header__search {
    margin-right: 0;
  }
}
@media (max-width: 900px) {
  .header__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }

  .region-2 {
    display: block;
  }

  .header__inner {
    padding: 20px 0;
  }

  .nav-top {
    display: none;
  }

  .catalog {
    margin: 0;
  }
}
@media (max-width: 800px) {
  .categories__img {
    top: calc(150px + -39 * (100vw - 480px) / 320);
  }
}
@media (max-width: 670px) {
  .header__search {
    width: calc(330px + 183 * (100vw - 480px) / 190);
  }

  .header__input::-webkit-input-placeholder {
    font-size: calc(12px + 2 * (100vw - 480px) / 190);
  }

  .header__input::-moz-placeholder {
    font-size: calc(12px + 2 * (100vw - 480px) / 190);
  }

  .header__input:-ms-input-placeholder {
    font-size: calc(12px + 2 * (100vw - 480px) / 190);
  }

  .header__input::-ms-input-placeholder {
    font-size: calc(12px + 2 * (100vw - 480px) / 190);
  }

  .header__input::placeholder {
    font-size: calc(12px + 2 * (100vw - 480px) / 190);
  }
}
@media (max-width: 550px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__nav .footer__list {
    margin: 0;
    text-align: center;
  }
  .footer__nav .footer__list + .footer__list {
    margin-top: 50px;
  }

  .footer__contacts {
    text-align: center;
    margin-bottom: 50px;
  }

  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__social {
    margin-bottom: 50px;
  }
}
@media (max-width: 479px) {
  .voice {
    display: block;
  }

  .search {
    display: block;
  }

  .header__search {
    display: none;
    border: none;
  }

  .header__input {
    display: none;
  }

  .catalog {
    display: none;
  }

  .catalog-2 {
    display: block;
  }

  .header__btn-search {
    display: none;
  }

  .vin {
    font-size: calc(14px + 6 * (100vw - 320px) / 159);
  }

  .header__search-2 .header__btn-img {
    width: calc(20px + 6 * (100vw - 320px) / 159);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .logo__img {
    width: calc(100px + 65 * (100vw - 320px) / 159);
  }

  .header__wrapper {
    margin: 0;
  }

  .main__menu {
    display: none;
  }

  .slider,
.info {
    padding: 45px 0;
  }

  .info__slider {
    padding-top: 0;
  }

  .slick-dots {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 30px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .slick-dots button {
    font-size: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #6f6f6f;
  }
  .slick-dots li + li {
    margin-left: 5px;
  }
  .slick-dots .slick-active button {
    background: #6f6f6f;
  }

  .slider__item {
    margin-right: 20px;
  }

  .categories__img {
    width: 100%;
    right: -80px;
    top: 140px;
  }

  .car {
    width: 150%;
  }

  .electronic {
    width: 90%;
  }

  .categories__item:hover {
    -webkit-filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
  }
  .categories__item:hover .categories__img {
    right: -70px;
  }

  .catalog-3 {
    display: block;
  }

  .title__link {
    font-size: calc(14px + 11 * (100vw - 320px) / 159);
  }

  .cards {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-x: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-auto-flow: column;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(160px, 256px) 30px minmax(160px, 256px) 30px minmax(160px, 256px) 30px minmax(160px, 256px) 30px minmax(160px, 256px);
    grid-template-columns: repeat(5, minmax(160px, 256px));
    grid-auto-rows: calc(270px + 10 * (100vw - 320px) / 159);
    grid-gap: 30px;
    grid-auto-columns: minmax(160px, 256px);
  }
  .cards::-webkit-scrollbar {
    display: none;
  }

  .card-img {
    height: 100%;
    width: 70%;
  }

  .card-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card-title-link span {
    font-size: calc(12px + 4 * (100vw - 320px) / 159);
  }

  .price__wrapper {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }

  .card-new-price,
.card-old-price {
    font-size: calc(12px + 4 * (100vw - 320px) / 159);
  }

  .card-new-price {
    margin-right: 35px;
  }

  .favourites {
    display: none;
  }

  .card-rating {
    font-size: calc(12px + 4 * (100vw - 320px) / 159);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: calc(25px + 7 * (100vw - 320px) / 159);
  }
  .card-rating::before {
    background-size: calc(15px + 5 * (100vw - 320px) / 159);
    background-position: center;
    background-repeat: no-repeat;
  }

  .card__wrapper {
    padding-bottom: 10px;
  }

  .card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }
  .card:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .title__link::after {
    width: calc(5px + 3 * (100vw - 320px) / 159);
    top: 55%;
    margin-left: calc(5px + 5 * (100vw - 320px) / 159);
  }

  .title__link:hover::after {
    margin-left: calc(10px + 10 * (100vw - 320px) / 159);
  }

  .info {
    display: block;
  }

  .cards,
.categories__inner {
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }

  .info__inner {
    padding-bottom: calc(30px + 5 * (100vw - 320px) / 159);
  }

  .footer__contacts {
    width: 100%;
  }

  .footer__address {
    max-width: 250px;
    margin: 0 auto;
  }

  .footer__address,
.footer__phone,
.footer__email,
.footer__link {
    font-size: calc(12px + 6 * (100vw - 320px) / 159);
  }

  .footer__address,
.footer__phone {
    margin-bottom: calc(10px + 10 * (100vw - 320px) / 159);
  }

  .footer__contacts,
.footer__social {
    margin-bottom: calc(20px + 30 * (100vw - 320px) / 159);
  }

  .footer__item + .footer__item {
    margin-top: calc(10px + 10 * (100vw - 320px) / 159);
  }

  .footer__nav .footer__list + .footer__list {
    margin-top: calc(20px + 30 * (100vw - 320px) / 159);
  }

  .button-show {
    display: none;
  }

  .card-title-link span {
    line-height: 18px;
  }

  .categories__title {
    font-size: calc(14px + 6 * (100vw - 320px) / 159);
  }

  .footer__item-title {
    font-size: calc(14px + 4 * (100vw - 320px) / 159);
  }

  .slider-line {
    margin-left: -30px;
  }

  .slider__img {
    padding-left: 10px;
  }

  .dots-item {
    border: 1px solid #6F6F6F;
  }

  .dots-block {
    bottom: 25px;
  }

  .button__slider {
    display: none;
  }
}
@media (min-width: 1174px) and (max-width: 1920px) {
  .categories__title {
    font-size: calc(25px + 7 * (100vw - 1174px) / 746);
  }

  .categories__img {
    width: 50%;
  }

  .car {
    width: 70%;
  }

  .electronic {
    width: 40%;
  }
}