* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: Helvetica;
  src: url(../fonts/Helvetica/helvetica_cyr_boldoblique.ttf);
}
body {
  font-family: Helvetica;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  width: 100%;
  z-index: 999;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: none;
  z-index: 9999;
}

.bottom-menu__img {
  width: 21px;
  height: 21px;
  margin-bottom: 5px;
}

.bottom-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.menu__bottom-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__bottom-link p {
  font-size: 13px;
  color: #6f6f6f;
}

.nav-top {
  background: rgba(9, 11, 13, 0.78);
}

.nav-top__inner {
  padding: 0.625em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region__button,
.region__button-2 {
  background: none;
  color: #fff;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region-2 {
  display: none;
}

.region__text-2 {
  color: #090b0d;
  margin-left: 10px;
}

.region__overflow-2 {
  right: 0;
}

.btnlang-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region_active .region__icon,
.region-2_active .region__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.region_active .region__overflow,
.region_active .region__overflow-2,
.region-2_active .region__overflow,
.region-2_active .region__overflow-2 {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  z-index: 1000;
}

.region__text {
  margin: 0 0.625em;
}

.region,
.region-2 {
  position: relative;
  max-width: 100%;
}

.region__overflow,
.region__overflow-2 {
  position: absolute;
  -webkit-box-shadow: 0px 2px 10px rgba(42, 115, 217, 0.2);
          box-shadow: 0px 2px 10px rgba(42, 115, 217, 0.2);
  background-color: rgba(9, 11, 13, 0.78);
  border-radius: 0 0 0.3125em 0.3125em;
  margin-top: 0.625em;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-x: hidden;
}

.region__overflow-2 {
  border-radius: 10px;
  background-color: #fd8223;
}
.region__overflow-2 .region__title {
  border-bottom: 1px solid #fff;
}
.region__overflow-2 .btnlang {
  color: #fff;
}

.region__list {
  overflow: auto;
}

.region__title {
  display: block;
  white-space: nowrap;
  position: relative;
  border-bottom: 1px solid #fd8223;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.region__title:last-child {
  border-bottom: none;
}
.region__title a {
  color: #536dfe;
}

.btnlang {
  background: none;
  color: #fff;
  text-align: left;
  padding: 0 0.625em;
  height: 35px;
  width: 100%;
}

.nav-top__menu {
  position: relative;
}

.nav-top__title {
  color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.nav-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-top__img {
  margin-right: 0.9375em;
}

.nav-top__link {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-top__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-top__item + .nav-top__item {
  margin-left: 2.1875em;
}

.search {
  background-color: #fd8223;
  display: none;
}

.search__inner {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  background-color: #fff;
}

.header__wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__inner {
  padding: 1.875em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.voice {
  display: none;
  margin: 0 10px;
}

.catalog-2 {
  display: none;
  background: #fd8223;
  border-radius: 5px;
  color: #fff;
  padding: 0.625em 0.8125em;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.catalog-2 .catalog__img {
  margin-right: 0;
  height: 15px;
}

.catalog {
  background: #fd8223;
  border-radius: 5px;
  color: #fff;
  padding: 0.625em 0.8125em;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100px;
}
.catalog:hover {
  -webkit-filter: brightness(0.97);
          filter: brightness(0.97);
}

.catalog__img {
  margin-right: 10px;
  width: 18px;
  height: 13px;
}

.header__search,
.header__search-2 {
  width: 513px;
  height: 40px;
  max-width: 100%;
  border: 1px solid #bcbcbc;
  border-radius: 0.3125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10px;
}
.header__search button,
.header__search-2 button {
  height: 100%;
}

.header__search-2 {
  background-color: #fff;
  border: none;
}

.region-2 {
  display: none;
}

.header__input,
.header__input-2 {
  width: 68%;
  height: 100%;
  padding: 0 1.25em;
  border-radius: 0.3125em;
}
.header__input::-webkit-input-placeholder, .header__input-2::-webkit-input-placeholder {
  color: #6f6f6f;
}
.header__input::-moz-placeholder, .header__input-2::-moz-placeholder {
  color: #6f6f6f;
}
.header__input:-ms-input-placeholder, .header__input-2:-ms-input-placeholder {
  color: #6f6f6f;
}
.header__input::-ms-input-placeholder, .header__input-2::-ms-input-placeholder {
  color: #6f6f6f;
}
.header__input::placeholder,
.header__input-2::placeholder {
  color: #6f6f6f;
}

.header__btn-search {
  width: 76px;
  max-width: 100%;
  background: #fd8223;
  border-radius: 0 0.3125em 0.3125em 0;
  margin-left: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__btn-search:hover {
  -webkit-filter: brightness(0.97);
          filter: brightness(0.97);
}

.header__btn {
  background: none;
  font-weight: 700;
  font-size: 1.25em;
  color: rgba(111, 111, 111, 0.7);
}
.header__btn img {
  width: 25px;
  height: 19px;
}

.header__btn + .header__btn {
  margin-left: 10px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__img {
  margin-right: 10px;
}

.header__link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.header__item + .header__item {
  margin-left: 25px;
}

.main__menu {
  padding: 10px 0;
}

.main__list {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 54px;
  width: 100%;
}

.main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 20px 15px;
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.main__item:hover {
  background-color: #fff;
}
.main__item:hover .main__link {
  color: #090b0d;
}
.main__item:hover .drop-menu {
  visibility: visible;
  pointer-events: all;
  max-height: 500px;
  padding-bottom: 40px;
  z-index: 100;
}

.main__list::-webkit-scrollbar {
  display: none;
}

.main__item-btn {
  display: none;
}

.main__btn {
  background: none;
  color: #6f6f6f;
  white-space: nowrap;
  font-size: 14px;
  position: relative;
  padding: 20px 15px;
  display: none;
}
.main__btn::after {
  content: "";
  width: 12px;
  height: 12px;
  top: 45%;
  background-image: url("../img/icons/arrow_menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin-left: 5px;
}

.main__link,
.main__item {
  color: #6f6f6f;
  white-space: nowrap;
  font-size: 14px;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.main__menu-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
  z-index: 1;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.0784313725);
  padding: 20px 20px 0 20px;
  visibility: hidden;
  pointer-events: none;
  height: auto;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.drop-menu__content-text {
  font-size: 14px;
  white-space: normal;
  line-height: 1;
  font-weight: 500;
  color: #090b0d;
  text-align: center;
  margin-top: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.drop-menu__content-text:hover {
  color: #fd8223;
}

.drop-menu__side {
  width: 100%;
  max-width: 150px;
  margin-right: 70px;
  height: 100%;
}

.drop-menu__item {
  height: 40px;
}

.drop-menu__link {
  display: block;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  color: #090b0d;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.drop-menu__link:hover {
  color: #fd8223;
}

.drop-menu__content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, 111px);
  grid-auto-rows: 111px;
  grid-gap: 70px 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
  padding-bottom: 40px;
}
.drop-menu__content::-webkit-scrollbar {
  display: none;
}

.drop-menu__content-item:hover .drop-menu__content-img {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.drop-menu__content-link {
  display: block;
  width: 100%;
  height: 100%;
}

.drop-menu__content-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.info {
  display: none;
}

.slider,
.slider2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.slider-line,
.slider-line2 {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
  width: 100%;
  max-height: 716px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all ease 1.5s;
  transition: all ease 1.5s;
}

.button__slider {
  position: absolute;
  top: 50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: 35%;
}

.slider-prev {
  left: 20px;
  background-image: url("../img/icons/prev.svg");
}

.slider-next {
  right: 20px;
  background-image: url("../img/icons/next.svg");
}

.dots-block,
.dots-block2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 30px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.dots-item,
.dots-item2 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #6f6f6f;
}

.dots-item + .dots-item,
.dots-item2 + .dots-item2 {
  margin-left: 5px;
}

.dots-item.active,
.dots-item2.active {
  background: rgb(255, 255, 255);
}

.categories__inner {
  padding: 140px 0 85px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(160px, 420px) 70px minmax(160px, 420px) 70px minmax(160px, 420px);
  grid-template-columns: repeat(3, minmax(160px, 420px));
  grid-auto-rows: 222px;
  grid-auto-columns: minmax(160px, 420px);
  grid-gap: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories__item {
  background-color: #fff;
  display: block;
  color: #000;
  border-radius: 10px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.categories__item:hover {
  -webkit-filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
}
.categories__item:hover .categories__title {
  padding-left: 40px;
}
.categories__item:hover .categories__img {
  right: -40%;
}

.catalog-3 {
  background-color: #fd8223;
  display: none;
}
.catalog-3 .categories__title {
  color: #fff;
}

.categories__img {
  position: absolute;
  width: 500px;
  top: 50%;
  right: -50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 200px;
}

.categories__title {
  position: absolute;
  font-size: 28px;
  padding: 25px 0 0 30px;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__link {
  font-size: 28px;
  color: #6f6f6f;
  position: relative;
}
.title__link:hover {
  text-decoration: underline;
}
.title__link:hover::after {
  margin-left: 20px;
}
.title__link::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 15px;
  background-size: contain;
  background-image: url("../img/icons/arrow_title.svg");
  background-repeat: no-repeat;
  background-position: center center;
  top: 50%;
  -webkit-transform: translate(0, -40%);
          transform: translate(0, -40%);
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.title__img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 20px;
}

.popular__inner {
  padding-bottom: 85px;
}

.popular__title,
.new-products__title {
  margin-bottom: 30px;
}

.card-title-link {
  color: #090b0d;
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.card-title-link:hover {
  text-decoration: underline;
}
.card-title-link span {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 256px);
  grid-auto-rows: 460px;
  grid-gap: 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card__wrapper {
  padding: 0 10px 4px 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 100%;
}

.card-rating,
.card-title {
  display: block;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card:hover {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.favourites {
  position: absolute;
  background: transparent;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.sale__card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 327px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 17px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card-rating {
  color: #090b0d;
  padding-left: 32px;
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 17px;
}
.card-rating::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: url("../img/icons/star.svg");
}

.card-title {
  max-width: 100%;
  color: #090b0d;
  font-size: 20px;
  line-height: 130%;
}

.card-new-price {
  color: #090b0d;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
}

.price__wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.card-old-price {
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #6f6f6f;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.button-show {
  width: 700px;
  max-width: 100%;
  padding: 20px;
  font-size: 18px;
  color: #fff;
  background: rgba(253, 130, 35, 0.9);
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  margin: 50px auto 50px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.button-show:hover {
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

.button-show-link,
.button-show-link-2 {
  width: 700px;
  max-width: 100%;
  padding: 20px;
  font-size: 18px;
  color: #fff;
  background: rgba(253, 130, 35, 0.9);
  border-radius: 10px;
  margin: 0 auto;
  display: none;
  margin: 50px auto 50px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-align: center;
}
.button-show-link:hover,
.button-show-link-2:hover {
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

.footer {
  background-color: #090b0d;
  padding: 34px 0;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  max-width: 200px;
}

.footer__list + .footer__list {
  margin-left: 80px;
}

.footer__phone,
.footer__email,
.footer__address {
  display: block;
  color: #fff;
  font-size: 14px;
}

.footer__contacts {
  max-width: 365px;
}

.footer__address {
  line-height: 23px;
  margin-bottom: 20px;
}

.footer__phone {
  margin-bottom: 20px;
}

.footer__item,
.footer__link {
  font-size: 14px;
}

.footer__item,
.footer__copyright {
  color: #fff;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
}
.footer__link:hover {
  text-decoration: underline;
}

.footer__item + .footer__item {
  margin-top: 20px;
}

.footer__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 93px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-item + .footer__social-item {
  margin-left: 15px;
}

.footer__social-img {
  width: 24px;
  height: 24px;
}

.hide {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
          clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  pointer-events: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  top: -100%;
}

.show {
  visibility: visible;
  opacity: 1;
  -webkit-clip-path: none;
          clip-path: none;
  position: static;
  pointer-events: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  top: 0%;
}

.scroll {
  background-color: #fd8223;
  border-radius: 50%;
  padding: 26px 18px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: fixed;
  right: 10px;
  bottom: -100%;
  visibility: hidden;
  z-index: 10;
  height: 69px;
  width: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}
.scroll img {
  width: 100%;
}
.scroll:hover {
  -webkit-filter: brightness(0.97);
          filter: brightness(0.97);
}

.scroll_active {
  bottom: 10px;
  visibility: visible;
}

.catalog__background {
  overflow: hidden;
  position: absolute;
  top: 130px;
  width: 100%;
  z-index: 800;
  background-color: #fff;
  -webkit-box-shadow: 0px 30px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 30px 25px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.catalog__background.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.modal__catalog {
  width: 327px;
  z-index: 800;
  color: #090b0d;
  width: 100%;
  background: #fff;
  visibility: hidden;
  height: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.modal__catalog.active {
  visibility: visible;
  height: 100%;
}

.modal__wrapper {
  margin: 0 auto;
  max-width: 1400px;
  display: -ms-grid;
  display: grid;
  z-index: 800;
  background: #fff;
  -ms-grid-columns: 328px 1fr;
  grid-template-columns: 328px 1fr;
  position: relative;
}

.catalog__list {
  max-width: 327px;
}

.catalog__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.link-1.active,
.link-2.active,
.link-3.active,
.link-4.active,
.link-5.active,
.link-6.active,
.link-7.active,
.link-8.active,
.link-9.active,
.link-10.active,
.link-11.active,
.link-12.active,
.link-13.active,
.link-15.active,
.link-16.active,
.link-17.active,
.link-18.active,
.link-19.active,
.link-20.active,
.link-21.active,
.link-22.active,
.link-23.active,
.link-24.active,
.link-25.active {
  background-color: #f4f4f4;
  border-radius: 3px 0 0 3px;
}
.link-1.active .catalog__title,
.link-2.active .catalog__title,
.link-3.active .catalog__title,
.link-4.active .catalog__title,
.link-5.active .catalog__title,
.link-6.active .catalog__title,
.link-7.active .catalog__title,
.link-8.active .catalog__title,
.link-9.active .catalog__title,
.link-10.active .catalog__title,
.link-11.active .catalog__title,
.link-12.active .catalog__title,
.link-13.active .catalog__title,
.link-15.active .catalog__title,
.link-16.active .catalog__title,
.link-17.active .catalog__title,
.link-18.active .catalog__title,
.link-19.active .catalog__title,
.link-20.active .catalog__title,
.link-21.active .catalog__title,
.link-22.active .catalog__title,
.link-23.active .catalog__title,
.link-24.active .catalog__title,
.link-25.active .catalog__title {
  color: #fd8223;
}

.catalog__item-right {
  margin-left: auto;
  margin-right: 35px;
}

.catalog__title {
  margin-left: 18px;
  color: #090b0d;
  font-weight: 500;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.modal__points {
  display: block;
  border-right: 1px solid #cccccc;
  height: 100%;
  padding: 30px 0 30px 10px;
}

.catalog__item + .catalog__item {
  margin-top: 25px;
}

.catalog__item-left,
.catalog__item-right {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__item-left {
  margin-left: 5px;
}

.main-categories {
  padding: 30px 0 30px 10px;
  margin-left: 30px;
  display: none;
}

.main-categories.active {
  display: block;
}

.main-categorise__title {
  display: inline-block;
  font-size: 16px;
  color: #090b0d;
  margin-top: 7px;
  position: relative;
}

.main-categories__img {
  margin-left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}

.child__categories {
  width: 100%;
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 87px;
     -moz-column-gap: 87px;
          column-gap: 87px;
}

.child-item {
  display: inline-block;
  margin-top: 40px;
  width: 100%;
}

.child-item__link {
  font-size: 16px;
  color: #090b0d;
  margin-bottom: 15px;
  display: inline-block;
  margin-bottom: 15px;
}

.child-item__text + .child-item__text {
  margin-top: 25px;
}

.child-item__text-link {
  color: #6f6f6f;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.child-item__text-link:hover {
  color: #fd8223;
}

.catalog__img.change {
  content: url("../img/icons/close__icon.svg");
  margin-right: 15px;
}

.child-item-show {
  color: #6f6f6f;
  background: none;
  font-size: 14px;
  margin-top: 25px;
  position: relative;
  display: none;
}
.child-item-show::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url("../img/icons/arrow_menu.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  right: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 5px;
}