@use 'sass:math';
// Обнуление
*{padding: 0;margin: 0;border: 0;}
*,*::before,*::after{ -moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}
// --------------------
// подключение шрифта
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	// overflow-x: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 16px;
	background: #FAFAFA;
	  /* полоса прокрутки (скроллбар) */
	  &::-webkit-scrollbar {
		width: 15px; /* ширина для вертикального скролла */
		height: 8px; /* высота для горизонтального скролла */
		background-color: #fff;
		}
		/* ползунок скроллбара */
		&::-webkit-scrollbar-thumb {
		background-color: #fd8223;
		border-radius: 10px;
		border: 3px solid #fff;
		}
		&::-webkit-scrollbar-thumb:hover {
		background-color: #e3731d;
		}
}
// настройка для прижатия footer к низу страницы
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.main{
	flex: 1 1 auto;
}
// .dashboard__container{
//     max-width: 1920px;
//     margin: 0 auto;
//   }
// плавная прокрутка
html{
	scroll-behavior: smooth;
}
// sidebar
.sidebar__inner{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding: 30px 0;
  }
  .dashboard__inner{
	min-height: 100vh;
  }
  .sidebar{
	display: inline-block;
	position: fixed;
	z-index: 999;
	top: 0;
	background: #3A434B;
	min-width: 40px;
	max-width: 40px;
	transition: all .3s linear;
	overflow-x: hidden;
	height: 100%;
	&:hover{
	  min-width: 260px;
	  .sidebar__logo{
		padding: 15px 20px;
	  }
	  .sidebar-logo__img{
		background-image: url('../img/icons/roongoLogo.svg');
		width: 130px;
	  }
	  .logo__arrow-right{
		transform: rotate(180deg);
		margin-right: 10px;
	  }
	  .navigation__item{
		padding: 15px 20px;
	  }
	}
  }
  .sidebar.no-animation,
  .logo__arrow-right.no-animation,
  .sidebar-logo__img.no-animation,
  .dashboard__content.no-animation{
	transition: 0s;
  }
  .sidebar.fixation{
	min-width: 260px;
	.navigation__item{
		padding: 15px 20px;
	}
	.sidebar__logo{
		padding: 15px 20px;
	}
  }
  .sidebar-logo__img.fixation{
	background-image: url('../img/icons/roongoLogo.svg');
	min-width: 130px;
	max-width: 130px;
  }
  .logo__arrow-right.fixation{
	transform: rotate(180deg);
	margin-right: 10px;
  }
  .logo__arrow-right{
	transition: all .3s linear;
  }
  .sidebar__logo{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 10px;
	cursor: pointer;
	transition: all .3s linear;
	margin-bottom: 30px;
  }
  .sidebar-logo__img{
	min-width: 11px;
	min-height: 16px;
	max-height: 30px;
	background-image: url('../img/icons/roongoLogoShort.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-right: 5px;
  }
  .navigation__item{
	width: 100%;
	height: 44px;
	white-space: nowrap;
	padding: 15px 10px;
	transition: all .3s linear;
	display: flex;
	align-items: center;
	cursor: pointer;
	&:hover{
	  background: #4C565F;
	  .navigation__img{
		fill: #e3731d;
	  }
	  .navigation__img--stroke{
		stroke: #e3731d;
	  }
	  .sidebar__popup{
		pointer-events: all;
		opacity: 1;
		z-index: 999;
	  }
	}
  }
  .navigation__img{
	margin-right: 15px;
	min-width: 20px;
	max-width: 20px;
	fill: #fff;
	transition: all .1s linear;
  }
  .navigation__img--stroke{
	stroke: #fff;
  }
  .navigation__text{
	font-weight: 400;
	font-size: 14px;
	color: #fff;
  }
  .notification{
	background-color: #e3731d;
	border-radius: 5px;
	padding: 1px 5px;
	font-size: 12px;
	margin-left: 10px;
  }
  .sidebar__popup{
	position: fixed;
	min-width: 250px;
	left: 0;
	top: 0;
	height: 100%;
	background: #4C565F;
	pointer-events: none;
	opacity: 0;
	padding: 106px 0 30px 0;
	transition: opacity .3s linear;
	z-index: 990;
	.navigation__text{
	  width: 100%;
	  padding: 15px 20px;
	}
	.navigation__item{
	  &:hover{
		background: #606972;
	  }
	}
  }
  .navigation__category:hover > .navigation__text{
	color: #e3731d;
	.notification{
	  color: #fff;
	}
  }
  .navigation__category.active{
   > .navigation__text{
	  color: #e3731d;
	}
	.navigation__img{
	  fill: #e3731d;
	}
	.navigation__img--stroke{
	  stroke: #e3731d;
	}
	.notification{
	  color: #fff;
	}
  }
  .dashboard__content{
	width: 100%;
	padding: 20px 20px 20px 60px;
	max-width: 100%;
	transition: all 0s linear;
  }
  .dashboard__title{
	font-size: 22px;
	font-weight: 700;
  }
  .dashboard__top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
  }
  .dashboard__before{
	width: 100%;
	max-width: 820px;
	display: flex;
	align-items: center;
	background: #FFFFFF;
	border-radius: 10px;
  }
  .dashboard__search{
	width: 100%;
	padding: 20px 20px 20px 20px;
	background: transparent;
	font-size: 16px;
  }
  .dashboard__before-img{
	width: 22px;
	height: 22px;
	margin-left: 20px;  
  }
  .dashboard__top-btn{
	padding: 7px 20px;
	background: #FF7C16;
	color: #fff;
	border-radius: 5px;
	font-size: 16px;
  }
  .dashboard__top-btn + .dashboard__top-btn{
	margin-left: 15px;
  }
  // стили для таблицы
  .table-content{
	width: 100%;
	background: #fff;
	border-radius: 20px;
  }
  .table__top{
	padding: 25px 20px;
	border-bottom: 1px solid #ddd;
  }
  .table__top-btn{
	font-size: 16px;
	background: none;
	font-style: italic;
	padding: 5px;
  }
  .table__top-btn + .table__top-btn{
	margin-left: 27px;
  }
  .table__top-btn.active{
	font-weight: 700;
	border-bottom: 1px solid #FF7C16;
  }
  .table__products-change{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
  }
  .table__products-change-btn{
	background: none;
	font-size: 16px;
	display: inline-flex;
	align-items: center;
	padding: 5px;
  }
  .table__products-change-wrapper{
	display: inline-flex;
	position: relative;
  }
  .notification__table-products{
	position: absolute;
	right: -30px;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	color: #fff;
	background: #FF7C16;
  }
  .notification--style-opacity{
	background: rgba(255, 111, 0, 0.5);
  }
  .table__products-change-wrapper + .table__products-change-wrapper{
	margin-left: 50px;
  }
  .table__products-change-btn.active{
	font-weight: 700;
	border-bottom: 1px solid #FF7C16;
	.notification{
	  font-weight: 400;
	}
  }
  .table__products-change-btn{
	.notification{
	  color: #fff;
	}
  }
  .table{
	min-width: 1650px;
	display: flex;
	flex-direction: column;
  }
  .table__inner{
	position: relative;
	max-height: 70vh;
	overflow: auto;
	width: 100%;
  }
  thead{
	display: block;
	position: sticky;
	top: 0;
	z-index: 2;
	height: 76px;
	background: #fff;
  }
  th{
	padding: 20px 0;
	text-align: left;
  }
  tr{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ddd;
  }
  .table__checkbox{
	position: absolute;
	z-index: -1;
	opacity: 0;
  }
  .table__lable {
	display: inline-flex;
	align-items: center;
	user-select: none;
	color: #FF7C16;
	font-weight: 700;
	text-align: left;
  }
  .table__checkbox+label::before {
	content: '';
	width: 15px;
	height: 15px;
	margin-right: 22px;
	display: inline-block;
	background: #F4F4F4;
	border: 1px solid #EAEAEA;
	border-radius: 1px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
  }
  .table__checkbox:checked+label::before {
	border-color: #FF7C16;
	background-color: #FF7C16;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  #filterAtricle{
	display: inline-block;
	margin-left: 8px;
	width: 25px;
	height: 25px;
	background: url('../img/icons/articleArrow.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
  }
  // чекбоксы карточек товара в таблице
  .article__checkbox{
	position: absolute;
	z-index: -1;
	opacity: 0;
	&+label{
	  color: #4C565F;
	  text-transform: uppercase;
	  font-weight: 400;
	}
	&+label::before {
	  content: '';
	  width: 15px;
	  height: 15px;
	  margin-right: 22px;
	  display: inline-block;
	  background: #F4F4F4;
	  border: 1px solid #EAEAEA;
	  border-radius: 1px;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: 50% 50%;
	}
	&:checked+label::before {
	  border-color: #FF7C16;
	  background-color: #FF7C16;
	  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
	}
  }
  .article,
  .picture,
  .name,
  .status,
  .price,
  .remains,
  .pn,
  .barcode,
  .usability,
  .settings{
	color: #4C565F;
	line-height: 16px;
	font-weight: 400;
	padding: 0 0 0 5px;
	height: 76px;
	display: flex;
	align-items: center;
	background-color: #fff;
  }
  .tbody{
	display: flex;
	flex-direction: column;
	height: 100%;
	font-size: 14px;
	padding-bottom: 20px;
	.article,
  .picture,
  .name,
  .status,
  .price,
  .remains,
  .pn,
  .barcode,
  .usability,
  .settings{
	border-bottom: 1px solid #ddd;
  }
	.article{
	  .table__lable{
		user-select: text;
	  }
	}
	tr{
	  &:hover{
		background: #f5f7fa;
		td{
		  background: #f5f7fa;
		  &:hover{
			background: #e6e9f0;
		  }
		}
	  }
	}
  }
  .article{
	padding-left: 20px;
	height: 76px;
	.table__lable{
	  height: 100%;
	  width: 100%;
	}
  }
  .article,
  .settings{
	min-width: 200px;
	max-width: 200px;
	position: sticky;
	padding-right: 10px;
	left: 0;
	z-index: 1;
	&::after{
	  content: "";
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 100%;
	  width: 40px;
	  opacity: 0;
	  transition: .2s;
	  pointer-events: none;
	  background-image: linear-gradient(270deg,rgba(195,203,217,0),rgba(195,203,217,.3));
	}
  }
  .settings{
	min-width: 120px;
	max-width: 120px;
	right: 0;
	&::after{
	  content: "";
	  position: absolute;
	  top: 0;
	  left: -40px;
	  bottom: 0;
	  width: 40px;
	  opacity: 0;
	  transition: .2s;
	  pointer-events: none;
	  background-image: linear-gradient(90deg,rgba(195,203,217,0),rgba(195,203,217,.3));
	}
	button{
	  width: 100%;
	  height: 100%;
	  background: url('../img/icons/settings.svg');
	  background-repeat: no-repeat;
	  background-size: 20% 20%;
	  background-position: right center;
	}
	.settings__button-table{
	  background: url('../img/icons/settingsTableTop.svg');
	  background-repeat: no-repeat;
	  background-size: 30% 30%;
	  background-position: right center;
	}
  }
  .article.shadow{
	&::after{
	  opacity: 1;
	}
  }
  .settings.shadow{
	&::after{
	  opacity: 1;
	}
  }
  .picture{
	min-width: 130px;
	max-width: 130px;
	img{
	  max-width: 88px;
	  height: 90%;
	  border: 1px solid #E2E2E2;
	  object-fit: cover;
	}
  }
  .name{
	min-width: 277px;
	max-width: 277px;
	.name__title{
	  color: #4C565F;
	  -webkit-box-orient: vertical;
	  display: -webkit-box;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  -webkit-line-clamp: 3;
	}
  }
  .status{
	min-width: 130px;
	max-width: 130px;
  }
  .price{
	min-width: 100px;
	max-width: 100px;
  }
  .remains{
	min-width: 100px;
	max-width: 100px;
  }
  .pn{
	min-width: 160px;
	max-width: 160px;
  }
  .barcode{
	min-width: 180px;
	max-width: 180px;
  }
  .usability{
	min-width: 260px;
	max-width: 260px;
	.usability__text{
	  -webkit-box-orient: vertical;
	  display: -webkit-box;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  -webkit-line-clamp: 2;
	}
  }
  .tbody__item{
	max-height: 76px;
  }
  .article{
	&:hover{
		cursor: pointer;
	}
	.table__lable{
		&:hover{
			cursor: pointer;
		}
	}
  }
.settings-modal{
	position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, 0px, 0px);
	z-index: 9999;
	background: #FDFDFD;
	border-radius: 5px;
	width: 200px;
	min-height: 200px;
	box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.25);
	display: none;
}
.settings-modal.active{
	display: block;
}
.settings-modal__btn,
.settings-modal__title{
	width: 100%;
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #4C565F;
	background: transparent;
	padding: 16px 17px;
	text-align: left;
	transition: all .2s ease-in-out;
	white-space: nowrap;
	&:hover{
		background: #EEEFF2;
	}
}
.settings-modal__title{
	color: #FF7C16;
	background: #E6E7EC;
	border-radius: 5px 5px 0 0;
}
.settings-modal__label{
	display: flex;
	align-items: center;
	justify-content: space-between;
	user-select: none;
	input[type="checkbox"]{
		position: absolute;
		z-index: -1;
		opacity: 0;
		&:checked + span{
			color: #FF7C16;
		}
		&:checked + span + .settings-modal__custom-checkbox{
			border: 2px solid #FF7C16;
			&::after{
				background: #FF7C16;
				transform: translate3d(10px, 0, 0);
			}
		}
	}
	span,
	.settings-modal__custom-checkbox{
		pointer-events: none;
	}
}
.settings-modal__custom-checkbox{
	width: 22px;
	height: 12px;
	display: inline-block;
	background: #F4F4F4;
	border: 2px solid #6f6f6f;
	border-radius: 5px;
	margin-left: 10px;
	position: relative;
	transition: all .2s linear;
	&::after{
		content: '';
		position: absolute;
		top: calc(50% - 3px);
		transform: translate3d(2px, 0, 0);
		width: 6px;
		height: 6px;
		background: #6f6f6f;
		border-radius: 50%;
		transition: all .2s linear;
	}
}
.dashboard__before-btn-create{
	font-weight: 500;
	padding: 10px;
	min-width: 104px;
	height: 40px;
	background: #FF7C16;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	margin-right: 10px;
}
// категории и названия
.categoryPanel{
	display: flex;
}
.categoryPanel__category{
	width: 60%;
}
.categoryPanel__edit{
	width: 100%;
	display: none;
}
.categoryPanel__button-lock{
	margin-left: 20px;
	width: 16px;
	height: 21px;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}
.categoryPanel__accordion{
	padding: 7px 50px;
	&:hover{
		cursor: pointer;
	}
}
.categoryPanel__body {
	max-height: 0;
	overflow: hidden;
	transition: max-height .3s linear;
}
.categoryPanel__accordion.active{
	background-color: #FF7C16;
	color: #fff;
}
.categoryPanel__accordion + .categoryPanel__accordion{
	margin-top: 10px;
}
.categoryPanel__button-lock.lock{
	background-image: url('../img/icons/lock.svg');
}
.categoryPanel__button-lock.unlock{
	background-image: url('../img/icons/unlock.svg');
}
.categoryPanel__accordion-title{
	font-size: 24px;
	font-weight: 700;
	pointer-events: none;
	user-select: none;
}
.categoryPanel__accordion-title-lvl-2{
	font-size: 21px;
}
.categoryPanel__accordion-title-lvl-3{
	font-size: 18px;
}
.categoryPanel__accordion-title-lvl-4{
	font-size: 18px;
	font-weight: 400;
}
// стили для выгруженных названий категорий и их внутренностей
.categoryPanel__list{
	padding-top: 16px;
	font-size: 24px;
}
.ctgList-itemContainer {
	padding-left: 50px;
	font-weight: 700;
	color: #000;
	cursor: pointer;
	user-select: none;
	margin-bottom: 2px;
	padding-top: 7px;
	padding-bottom: 7px;
	.ctgList-itemContainer{
		padding-top: 7px;
		padding-bottom: 7px;
		font-size: 87.3933%;
	}
}
div[data-level='4'] {
	font-weight: 400;
	margin-bottom: 2px;
}
div[data-level='5'] {
	color: #4C565F;
	font-weight: 400;
}
div[data-sel='1'] {
	background: #FF7C16;
	color: #fff;
}
.categoryPanel__edit-card-accordion-inside-input{
	font-size: 14px;
	background: #FFFFFF;
	border-bottom: 1px solid #B0B2BB;
	padding: 12px 15px 12px 18px;
	color: #FF7C16;
	width: 270px;
	max-width: 100%;
	border-radius: 5px;
	height: 40px;
	&::placeholder{
		color: #B3B3B3;
	}
}
.categoryPanel__edit-card-accordion-inside-button{
	margin-left: 14px;
	font-size: 14px;
	font-weight: 500;
	padding: 12px 24px 12px 24px;
	color: #fff;
	background: #FF7C16;
	border-radius: 5px;
	height: 40px;
	white-space: nowrap;
}
// попап окно предупреждения
.warnings{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.warnings__content{
	max-width: 600px;
	min-height: 300px;
	background-color: #FAFAFA;
	border-radius: 5px;
	padding: 20px;
	display: flex;
	align-items: center;
	transform: scale(0);
	transition: all .3s ease-in-out;
}
.warnings__title{
	text-align: center;
	margin-bottom: 20px;
	font-size: 45px;
	font-weight: 700;
	color: #e3731d;
}
.warnings__text{
	margin-bottom: 50px;
}
.warnings__btn{
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #e3731d;
	color: #fff;
	width: 150px;
	max-width: 100%;
}
.warnings__btn + .warnings__btn{
	margin-left: 20px;
}
.warnings__wrapper{
	text-align: center;
}
#closeBtn{
	background-color: #B0B2BB;
	transition: all .2s;
	&:hover{
		background-color: #989aa2;
	}
}
.categoryPanel__tree{
	display: flex;
}
// правая панель свойств категорий
#categoryPanel__edit-content-output{
	margin-bottom: 30px;
}
.categoryPanel__edit-content{
	background-color: #fff;
	width: 100%;
	padding: 33px 20px;
	border-radius: 10px;
}
.categoryPanel__edit-tree{
	font-size: 21px;
	margin-bottom: 48px;
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	font-weight: 700;
	p{
		margin-right: 5px;
	}
	p.active{
		color: #FF7C16;
	}
}
.categoryPanel__edit-card + .categoryPanel__edit-card{
	margin-top: 49px;
}
.additionallyText{
	font-weight: 400;
}
.categoryPanel__edit-card-title{
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 20px;
}
.categoryPanel__edit-card-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	.dropdown:nth-child(1){
		flex-grow: 1;
	}
	.creates{
		margin-left: 7px;
	}
}
.textarea{
	resize: none;
	width: 100%;
	min-height: 131px;
	padding: 11px 16px;
	font-size: 14px;
	border-bottom: 1px solid #B0B2BB;
	&::placeholder{
		color: #B0B2BB;
	}
	&::-webkit-scrollbar {
		width: 10px; /* ширина для вертикального скролла */
		height: 16px; /* высота для горизонтального скролла */
		background-color: #fff;
	}
		/* ползунок скроллбара */
	&::-webkit-scrollbar-thumb {
			background: #DEE1E6;
			border-radius: 5px;
	}
}
.categoryPanel__confirm{
	width: 100%;
	background: #FF7C16;
	border-radius: 5px;
	padding: 10px 24px;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	height: 40px;
	margin-top: 26px;
}
.checkboxNecessarily{
	display: flex;
	align-items: center;
	margin: 0 15px 0 19px;
	user-select: none;
	position: relative;
	input[type="checkbox"] {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
	input[type="checkbox"]+label {
		display: inline-flex;
		align-items: center;
		user-select: none;
	}
	input[type="checkbox"]+label::before {
		content: '';
		display: inline-block;
		width: 17px;
		height: 17px;
		flex-shrink: 0;
		flex-grow: 0;
		border: 2px solid #7E878F;
		border-radius: 3px;
		margin-right: 18px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50% 50%;
	}
	input[type="checkbox"]:checked+label::before {
		border-color: #FF7C16;
		background-color: #FF7C16;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
	}
}
.checkboxNecessarily__label{
	margin-left: 18px;
	white-space: nowrap;
	color: #4C565F;
	font-size: 14px;
}
.outputSinonims{
	width: 100%;
	max-width: 440px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 12px;
}
.sinonim{
	background: #7E878F;
	border: 1px solid #7E878F;
	border-radius: 15px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	padding: 6px 12px;
	height: 32px;
	display: flex;
	align-items: center;
	margin-right: 10px;
	margin-bottom: 10px;
	transition: all .2s;
	&:hover{
		filter: brightness(.9);
	}
}
.sinonim__close{
	width: 10px;
	height: 10px;
	background-image: url('../img/icons/deleteSinonim.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin-left: 10px;
	cursor: pointer;
}
.name-change{
	margin-left: 30px;
}
// стили для аккордеона
.placeholder {
	border: 3px dashed #cbd5e0;
	border-radius: 5px;
}
.accordion{
	width: 100%;
}
.accordion + .accordion{
	margin-top: 20px;
}
.accordion__wrapper,
.accordion__target{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.accordion__title{
	font-size: 16px;
	font-weight: 700;
	color: #4C565F;
	margin-right: auto;
	pointer-events: none;
}
.accordion__target{
	position: relative;
	height: 64px;
	max-height: 64px;
	background: #F7F7FA;
	border: 1px solid #4C565F;
	border-radius: 5px;
	padding: 19px;
	margin: 0 20px 0 10px;
	cursor: pointer;
	user-select: none;
}
.accordion__draggable{
	cursor: move;
	user-select: none;
}
.accordion__decompression{
	cursor: pointer;
	user-select: none;
	width: 10px;
	height: 18px;
	img{
		width: 100%;
		height: 100%;
	}
}
.accordion__decompression-img-hidden{
	display: inline;
}
.accordion__decompression-img-active{
	display: none;
}
.accordion__decompression.active{
	.accordion__decompression-img-active{
		display: inline;
	}
	.accordion__decompression-img-hidden{
		display: none;
	}
}
.accordion__menu{
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 30px;
}
.accordion__inner{
	margin: 0 30px;
	background: #F7F7FA;
	border-radius: 0 0 5px 5px;
	max-height: 0;
	opacity: 0;
	transition: all .3s;
	overflow: hidden;
}
.accordion__inner-content{
	width: 100%;
	height: 100%;
	padding: 15px;
}
.accordion__inner-active{
	overflow: visible;
	opacity: 1;
	max-height: auto;
}
.accordion__list{
	padding: 0 25px;
	color: #4C565F;
	margin-bottom: 20px;
}
.accordion__list-item{
	justify-content: space-between;
	&:hover{
		cursor: pointer;
	}
}
.accordion__list-item + .accordion__list-item{
	margin-top: 12px;
}
.accordion__list-item.active{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	max-width: 777px;
}
// .changed-item{
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: flex-start;
// 	width: 100%;
// 	max-width: 777px;
// }
.accordion__name{
	display: flex;
	align-items: center;
}
.changed-item__photo{
	margin-bottom: auto;
	display: flex;
	align-items: center;
}
.input-select{
	border-bottom: 1px solid #B0B2BB;
	&::placeholder{
		color: #B0B2BB;
	}
	&:focus{
		border-bottom: 1px solid #FF7C16;
	}
}
.creates__input{
	width: 322px;
	max-width: 100%;
	height: 40px;
	padding: 11px 16px;
	background: none;
	border-bottom: 1px solid #B0B2BB;
	margin-right: 14px;
	font-size: 14px;
	&:focus{
		border-bottom: 1px solid #FF7C16;
	}
}
.creates__button{
	border: 1px solid #FF7C16;
	border-radius: 5px;
	color: #FF7C16;
	background: none;
	font-size: 14px;
	font-weight: 500;
	min-width: 104px;
	max-width: 100%;
	height: 40px;
	padding: 10px 20px;
}
.changed-item__accept{
	padding: 10px 24px;
	min-width: 66px;
}
.changed-item__comment,
.changed-item__name{
	width: 248px;
	margin: 0 19px 0 10px;
	max-width: 100%;
}
.changed-item__name{
	padding: 12px 6px;
}
.changed-item__comment{
	padding: 11px 16px;
}
.message{
	padding-left: 15px;
	margin-top: 10px;
	font-size: 10px;
	color: #B0B2BB;
}
.accordion__list{
	font-size: 14px;
}
.accordion__list-item{
	display: flex;
	align-items: center;
}
.accordion__list-img{
	width: 51px;
	height: 29px;
	object-fit: contain;
	margin-right: 9px;
}
.drag-opacity{
	transition: opacity .2s;
	opacity: 0.5;
}
// стили для dropdown
.dropdown{
	position: relative;
}
.dropdown + .dropdown{
	margin-left: 20px;
}
.select{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 140px;
	height: 40px;
	padding: 20px 16px 11px 16px;
	border-bottom: 1px solid #B0B2BB;
	white-space: nowrap;
	color: #B0B2BB;
	font-size: 14px;
	&::before{
		content: attr(data-placeholder);
		pointer-events: none;
		transition: all .2s;
	}
}
.caret{
	pointer-events: none;
	user-select: none;
	transition: all .2s;
	margin-left: 7px;
}
.menu,
.target__accordion-menu{
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: 1;
	overflow-y: auto;
	transition: all .2s;
	font-size: 14px;
	max-height: 300px;
	background: #FFFFFF;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	&::-webkit-scrollbar {
		width: 10px; /* ширина для вертикального скролла */
		height: 16px; /* высота для горизонтального скролла */
		background-color: #fff;
		}
		/* ползунок скроллбара */
		&::-webkit-scrollbar-thumb {
			background: #DEE1E6;
			border-radius: 5px;
		}
	li{
		padding: 16px;
		transition: all .2s;
		font-size: 14px;
		&:hover{
			background: #DEE1E6;
		}
	}
}
.caret-rotate{
	transform: rotate(180deg);
}
.menu-open{
	visibility: visible;
	pointer-events: auto;
	opacity: 1;
	top: 60px;
}
.select-clicked{
	border-bottom: 1px solid #FF7C16;
	&::before{
		position: absolute;
		top: 0px;
		font-size: 10px;
		pointer-events: none;
		color: #FF7C16;
	}
}
.select-active{
	border-bottom: 1px solid #4C565F;
	color: #4C565F;
	&::before{
		position: absolute;
		top: 0px;
		font-size: 10px;
		pointer-events: none;
		color: #4C565F;
	}
}
.select-active.select-clicked{
	border-bottom: 1px solid #FF7C16;
	&::before{
		position: absolute;
		top: 0px;
		font-size: 10px;
		pointer-events: none;
		color: #FF7C16;
	}
}
// стилизация последнего уровня вложенности (названия)
.name__wrapper{
	display: flex;
	align-items: flex-start;
}
.categoryPanel__name-title{
	color: #FF7C16;
	font-size: 24px;
}
.name__img-output{
	width: 100%;
	max-width: 290px;
	margin-right: 15px;
}
.name__main-output-img,
.name__main-scrollbar-img{
	width: inherit;
	height: 215px;
	background: #DEE1E6;
	border-radius: 5px;
	user-select: none;
}
.name__main-img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center center;
}
.name__scrollbar-img{
	display: flex;
	align-items: center;
	margin-top: 10px;
	min-width: 100%;
	overflow-x: auto;
	padding-bottom: 10px;
	&::-webkit-scrollbar {
		height: 13px; /* высота для горизонтального скролла */
		background-color: #fff;
		}
		/* ползунок скроллбара */
	&::-webkit-scrollbar-thumb {
		background: #DEE1E6;
		border-radius: 10px;
		border: 3px solid #fff;
	}
}
.name__main-scrollbar-img{
	height: 53px;
	width: 68px;
	flex-shrink: 0;
}
.name__main-scrollbar-img + .name__main-scrollbar-img{
	margin-left: 5px;
}
.name__related{
	padding-top: 36px;
	width: 100%;
	text-align: center;
}
.name__related-title{
	font-size: 22px;
	color: #000;
	font-weight: 700;
	margin-bottom: 22px;
}
// 
.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, 152px);
	grid-auto-rows: 261px;
	grid-gap: 10px;
}
.card{
	border-radius: 5px;
	position: relative;
}
.favourites{
	position: absolute;
	top: 12px;
	right: 12px;
	width: 15px;
	height: 13px;
}
.favorites-img{
	width: 100%;
	height: 100%;
}
.card-link{
	width: 100%;
	max-height: 200px;
}
.card-img{
	width: 100%;
	max-height: 198px;
	object-fit: contain;
	background-color: #EFEFEF;
	border-radius: 5px;
}
.card-title{
	margin-top: 5px;
	margin-bottom: 7px;
	font-size: 14px;
	text-align: left;
	.card-title-link{
		color: #090B0D;
		span {
			-webkit-box-orient: vertical;
			display: -webkit-box;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: 2;
		  }
	}
}
.price__wrapper{
	text-align: left;
}
.card-price{
	font-size: 15px;
	font-weight: 600;
	color: #090B0D;
}
// стили для инпутов
.input-individual{
	width: 100%;
	padding: 20px 16px 11px;
	height: 40px;
	max-height: 40px;
	font-size: 14px;
	transition: max-height .3s, height .3s;
	font-weight: 400;
	&.is-invalid{
		border-bottom: 1px solid #B0B2BB;
	}
	&:focus{
		border-bottom: 1px solid #FF7C16;
	}
}
.input-individual-label{
	display: block;
	text-align: center;
	position: relative;
	min-width: 140px;
	max-width: 298px;
	&::before{
		content: attr(data-placeholder);
		pointer-events: none;
		transition: all .2s;
		font-size: 14px;
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
		color: black;
	}
}
.input-individual-label.focused{
	&::before{
		top: 0px;
		border-radius: 5px 5px 0 0;
		font-size: 16px;
		transform: translateY(0);
		color: #4C565F;
	}
}
// если установлен класс black
.input-individual-label.white{
	&.filled{
		.input-individual{
			border-bottom: 1px solid #4C565F;
		}
		&::before{
			top: 0;
			transform: translateY(0);
			font-size: 10px;
			color: #4C565F;
		}
	}
	.input-individual{
		color: #4C565F;
		background: transparent;
		border-bottom: 1px solid #B0B2BB;
		&:focus{
			border-bottom: 1px solid #FF7C16;
		}
		&.is-invalid{
			border-bottom: 1px solid #4C565F;
		}
	}
	&::before{
		color: #B0B2BB;
	}
	&.focused{
		&::before{
			font-size: 10px;
			color: #FF7C16;
		}
	}
}
// **************************