@use "sass:math";
@import "reset.scss";
@import "math.scss";
// подключение шрифта
@font-face {
  font-family: "Helvetica Regular";
  src: url(../fonts/Helvetica/Helvetica-Regular.woff);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
body {
  font-family: "Helvetica Regular", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 16px;
  /* полоса прокрутки (скроллбар) */
  &::-webkit-scrollbar {
  width: 15px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #fff;
  }
  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
  background-color: #fd8223;
  border-radius: 10px;
  border: 3px solid #fff;
  }
  &::-webkit-scrollbar-thumb:hover {
  background-color: #e3731d;
  }
}
// настройка для прижатия footer к низу страницы
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
  background-color: #f4f4f4;
}
// плавная прокрутка
html {
  scroll-behavior: smooth;
}
// стили container
.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
}
.header {
  width: 100%;
  z-index: 999;
  position: relative;
}
// стилизация меню на планшетах и телефонах
.bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: none;
  z-index: 9999;
}
.bottom-menu__img {
  width: 21px;
  height: 21px;
  margin-bottom: 5px;
}
.bottom-menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.menu__bottom-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 13px;
    color: #6f6f6f;
  }
}
// стилизаця верхнего блока
.nav-top {
  background: rgba(9, 11, 13, 0.78);
}
.nav-top__inner {
  padding: em(10) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.region__icon-location {
  width: 14px;
  height: 20px;
}
.region__button,
.region__button-2 {
  background: none;
  color: #fff;
  font-size: em(16);
  display: flex;
  justify-content: center;
  align-items: center;
}
.region-2 {
  display: none;
}
.region__text-2 {
  color: #090b0d;
  margin-left: 10px;
}
.region__overflow-2 {
  right: 0;
}
.btnlang-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.region_active,
.region-2_active {
  .region__icon {
    transform: rotate(180deg);
  }
}
.region_active {
  .region__overflow {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    z-index: 1000;
  }
}
.region-2_active {
  .region__overflow-2 {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    z-index: 1000;
  }
}
.region__text {
  margin: 0 em(10);
}
.region,
.region-2 {
  position: relative;
  max-width: 100%;
}
.region__overflow,
.region__overflow-2 {
  position: absolute;
  box-shadow: 0px 2px 10px rgb(42, 115, 217, 20%);
  background-color: rgba(9, 11, 13, 0.78);
  border-radius: 0 0 em(5) em(5);
  margin-top: em(10);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-x: hidden;
}
.region__overflow-2 {
  border-radius: 10px;
  background-color: #fd8223;
  .region__title {
    border-bottom: 1px solid #fff;
  }
  .btnlang {
    color: #fff;
  }
}
.region__list {
  overflow: auto;
}
.region__title {
  display: block;
  white-space: nowrap;
  position: relative;
  border-bottom: 1px solid #fd8223;
  transition: 0.3s ease-in-out;
  &:last-child {
    border-bottom: none;
  }
  a {
    color: #536dfe;
  }
}
.btnlang {
  background: none;
  color: #fff;
  text-align: left;
  padding: 0 em(10);
  height: 35px;
  width: 100%;
}
.nav-top__menu {
  position: relative;
}
.nav-top__title {
  position: absolute;
  right: calc(100% / 2 - 55px);
  color: #fff;
}
.nav-top__list {
  display: flex;
}
.nav-top__img {
  margin-right: em(15);
}
.nav-top__link {
  color: #fff;
  display: flex;
  align-items: center;
}
.nav-top__item {
  display: flex;
  align-items: center;
}
.nav-top__item + .nav-top__item {
  margin-left: em(35);
}
// меню поиска на телефоне
.search {
  background-color: #fd8223;
  display: none;
}
.search__inner {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// стилизация header
.header {
  background-color: #fff;
}
.logo__img {
  width: 165px;
  height: 42px;
}
.header__wrapper2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header__inner {
  padding: em(30) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__text {
  margin-left: 10px;
  font-size: 16px;
}
.voice {
  display: none;
  margin: 0 10px;
}
.catalog-2 {
  display: none;
  background: #fd8223;
  border-radius: 5px;
  color: #fff;
  padding: em(10) em(13);
  font-size: em(16);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  .catalog__img {
    margin-right: 0;
    height: 15px;
  }
}
.catalog-2-header {
  display: none;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
.catalog {
  background: #fd8223;
  border-radius: 5px;
  color: #fff;
  padding: em(10) em(13);
  font-size: em(16);
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  width: 120px;
  position: relative;
  margin-left: 15px;
  &:hover {
    filter: brightness(0.97);
  }
}
.catalog__img {
  margin-right: 10px;
  width: 18px;
  height: 13px;
}
.header__search,
.header__search-2 {
  position: relative;
  width: 100%;
  height: 40px;
  max-width: 100%;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px;
  button {
    height: 100%;
  }
}
.tag-container,
.tag-container2{
  position: absolute;
  left: 0;
  width: 100%;
  max-width: 500px;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
  pointer-events: none;
  visibility: hidden;
  &::-webkit-scrollbar{
    display: none;
  }
}
.header__search-select-btn{
  cursor: pointer;
  position: relative;
  color: #fff;
  background-color: #fd8223;
  font-size: 16px;
  white-space: nowrap;
  border-radius: 40px;
  padding: 5px 23px 5px 8px;
  margin-left: 10px;
  &::after{
    content: '';
    position: absolute;
    right: 8px;
    width: 9px;
    height: 8px;
    background-image: url('../img/icons/closeIconsSearchHeaderBtn.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    top: calc(50% - 4px);
  }
}
.header__search-wrapper{
  height: 100%;
  display: flex;
  align-items: center;
}
.header__search-2 {
  background-color: #fff;
  border: none;
}
.region-2 {
  display: none;
}
.header__input,
.header__input-2 {
  width: 68%;
  height: 100%;
  padding: 0 10px;
  border-radius: em(5);
  &::placeholder {
    color: #6f6f6f;
  }
}
.header__input{
  width: 100%;
  padding: 0 200px 0 10px;
}
.search-buttons{
  position: absolute;
  top: 0;
  right: 0;
}
.header__btn-search {
  width: 76px;
  max-width: 100%;
  background: #fd8223;
  border-radius: 0 4px 4px 0;
  margin-left: 10px;
  transition: all 0.2s ease;
  &:hover {
    filter: brightness(0.97);
  }
}
.header__btn {
  background: none;
  font-weight: 700;
  font-size: 22px;
  color: rgba(111, 111, 111, 0.7);
  img {
    width: 23px;
    height: 23px;
  }
}
.header__btn + .header__btn {
  margin-left: 10px;
}
.header__list {
  display: flex;
}
.header__img + .header__img {
  margin-right: 10px;
}
.header__btn-loop,
.header__img {
  width: 26px;
  height: 23px;
}
.header__link {
  height: 100%;
  display: flex;
  align-items: center;
  color: #000;
}
.header__item + .header__item {
  margin-left: 25px;
}
.vin{
  img{
    width: 30px;
    height: 30px;
  }
}
// меню раскрывающегося поиска
.search-bg,
.search-bg-vin{
  background: #FFFFFF;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: absolute;
  top: 120px;
  pointer-events: none;
  padding: 25px 15px;
  transition: all .2s ease;
  z-index: 9999;
  opacity: 0;
}
.search-bg.active,
.search-bg-vin.active{
  top: 111px;
  pointer-events: all;
  opacity: 1;
}
.search-bg.remove,
.search-bg-vin.remove{
  top: 120px;
  pointer-events: none;
  opacity: 0;
}
.search-bg__wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.search-bg__wrapper + .search-bg__wrapper{
  margin-top: 20px;
}
.search-bg__select-container{
  width: 100%;
  min-width: 137px;
  max-width: 234px;
  position: relative;
  &::after{
    background: url(../img/icons/selectArrow.svg) 50% 50% no-repeat;
    bottom: 0;
    content: "";
    height: auto;
    opacity: .543;
    position: absolute;
    right: 8px;
    top: 0;
    transition: transform .1s ease-out;
    width: 24px;
    pointer-events: none;
  }
}
.search-bg__select-container + .search-bg__select-container{
  margin-left: 20px;
}
.search-bg__select-container.active{
  &::after{
    background: url('../img/icons/arrow__white.svg') 50% 50% no-repeat;
  }
}
.search-bg__select-btn,
.search-bg-vin__input{
  width: 100%;
  background: none;
  text-align: left;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  padding: 10px 30px 10px 10px;
  position: relative;
  &::placeholder{
    color: #bcbcbc;
  }
}
.onValidate,
.onValidatePopup{
  color: rgb(255, 104, 104);
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 10px 0 0;
  margin-top: -10px;
  opacity: 0;
  transition: all .3s ease-in-out;
  position: absolute;
  user-select: none;
  pointer-events: none;
}
.onValidate.active,
.onValidatePopup.active{
  margin-top: 0;
  opacity: 1;
  position: static;
}
.vin-input-container{
  position: relative;
}
.search-bg-vin__input{
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #bcbcbc;
  padding: 10px 30px 10px 0;
  &::placeholder{
    text-transform: none;
  }
}
.search-bg__span{
  color: #bcbcbc;
  pointer-events: none;
  white-space: nowrap;
}
.HeaderVinInput{
  display: none;
}
// анимация появления
.search-bg__select-dropdown{
  opacity: 0;
  top: 60px;
  position: absolute;
  left: 0;
  width: 100%;
  visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.25));
  transition: all .3s ease-in-out;
  height: 150px;
  z-index: 99999;
  pointer-events: none;
}
.search-bg__select-dropdown.active{
  top: 50px;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
// *****
.search-bg__select-dropdown-container{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  padding: 10px 0;
}
.search-bg__select-dropdown-item{
  transition: all .3s ease-in-out;
  padding: 15px 0 15px 10px;
  &:hover{
    color: #fd8223;
    cursor: pointer;
  }
}
.search-bg__select-dropdown-item.active{
  color: #fd8223;
}
.search-bg__select-dropdown-item.hide{
  display: none;
}
.search-bg__select-dropdown-search{
  padding: 10px 0 10px 10px;
  margin: 0 10px;
  border-radius: 10px;
  border: 1px solid #bcbcbc;
  width: 90%;
}
// стили для иконки
.catalog-icon {
  width: 18px;
  height: 12px;
  position: relative;
  margin-right: 5px;
  pointer-events: none;
}
.catalog-icon__line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transition: all 0.3s ease-in-out;
  border-radius: 1px;
}
.catalog-icon__line-1 {
  top: 0;
}
.catalog-icon__line-2,
.catalog-icon__line-3 {
  width: 80%;
  right: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
.catalog-icon__line-4 {
  top: 10px;
  width: 60%;
  right: 0;
}
.catalog-icon.open {
  .catalog-icon__line-1,
  .catalog-icon__line-4 {
    top: 50%;
    transform: translate3d(0, -50%, 0);
    opacity: 0;
    width: 100%;
  }
  .catalog-icon__line-2 {
    transform: translate3d(0, -50%, 0) rotate(45deg);
    width: 100%;
  }
  .catalog-icon__line-3 {
    transform: translate3d(0, -50%, 0) rotate(-45deg);
    width: 100%;
  }
}
// стилизация main
.main__menu {
  padding: 10px 0;
}
.main__list {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 54px;
  width: 100%;
}
.main__item {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px 10px;
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.main__item:hover {
  background-color: #fff;
  .main__link {
    color: #090b0d;
  }
  .drop-menu {
    visibility: visible;
    pointer-events: all;
    max-height: 500px;
    padding-bottom: 40px;
    // opacity: 1;
    z-index: 100;
  }
}
.main__list::-webkit-scrollbar {
  display: none;
}
.main__item-btn {
  display: none;
}
.main__btn {
  background: none;
  color: #6f6f6f;
  white-space: nowrap;
  font-size: 14px;
  position: relative;
  padding: 20px 15px;
  display: none;
  &::after {
    content: "";
    width: 12px;
    height: 12px;
    top: 45%;
    background-image: url("../img/icons/arrow_menu.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-left: 5px;
  }
}
.main__link,
.main__item {
  color: #6f6f6f;
  white-space: nowrap;
  font-size: 16px;
  transition: all 0.25s linear;
}
.main__menu-inner {
  position: relative;
  display: flex;
}
.drop-menu {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  top: 50px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
  z-index: 1;
  //   opacity: 0;
  box-shadow: 0 10px 10px #00000014;
  padding: 20px 20px 0 20px;
  visibility: hidden;
  pointer-events: none;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s linear;
}
.drop-menu__content-text {
  font-size: 14px;
  white-space: normal;
  line-height: 1;
  font-weight: 500;
  color: #090b0d;
  text-align: center;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: #fd8223;
  }
}
.drop-menu__side {
  width: 100%;
  max-width: 150px;
  margin-right: 70px;
  height: 100%;
}
.drop-menu__item {
  height: 40px;
}
.drop-menu__link {
  display: block;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  color: #090b0d;
  transition: all 0.2s linear;
  &:hover {
    color: #fd8223;
  }
}
.drop-menu__content {
  width: 100%;
  display: grid;
  margin: 0 auto;
  // grid-template-columns: repeat(auto-fit, minmax(55px, 111px));
  // grid-auto-rows: minmax(60px, 111px);
  grid-template-columns: repeat(auto-fit, 111px);
  grid-auto-rows: 111px;
  grid-gap: 70px 80px;
  justify-content: center;
  overflow-y: auto;
  padding-bottom: 40px;
  &::-webkit-scrollbar {
    display: none;
  }
}
.drop-menu__content-item:hover {
  .drop-menu__content-img {
    transform: translate3d(0, -5px, 0);
  }
}
.drop-menu__content-link {
  display: block;
  width: 100%;
  height: 100%;
}
.drop-menu__content-img {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  object-fit: contain;
  transition: all 0.2s linear;
}
// второй слайдер
.info {
  display: none;
}
// стилизация слайдера (чистый js)
.slider,
.slider2,
.instruction__slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  user-select: none;
  touch-action: auto;
  -ms-touch-action: auto;
}
.instruction__slider {
  max-width: 915px;
  max-height: 700px;
  margin: 0 auto;
}
.slider__img,
.instruction__slider-img {
  width: 100%;
  height: auto;
}
.slider-line,
.slider-line2,
.instruction__slider-line {
  user-select: none;
  touch-action: auto;
  -ms-touch-action: auto;
  width: 100%;
  max-height: 716px;
  display: flex;
  position: relative;
  transition: all ease 0.5s;
}
.button__slider {
  position: absolute;
  top: 50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-position: center center;
  transform: translate3d(0, -50%, 0);
  background-size: 35%;
}
.slider-prev {
  left: 20px;
  background-image: url("../img/icons/prev.svg");
}
.slider-next {
  right: 20px;
  background-image: url("../img/icons/next.svg");
}
.dots-block,
.dots-block2 {
  position: absolute;
  display: flex;
  bottom: 30px;
  right: 50%;
  transform: translate3d(50%, 0, 0);
}
.dots-item,
.dots-item2 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #6f6f6f;
  border: 1px solid #6f6f6f;
}
.dots-item + .dots-item,
.dots-item2 + .dots-item2 {
  margin-left: 5px;
}
.dots-item.active,
.dots-item2.active {
  background: rgba(255, 255, 255, 1);
}
.instruction__button-slider {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  img {
    object-fit: cover;
  }
}
.instruction__slider {
  margin-bottom: 65px;
}
.instruction__slider-prev {
  left: 20px;
  img{
	transform: rotate(180deg);
  }
}
.instruction__slider-next {
  right: 20px;
}
.instruction__dots-block {
  display: flex;
  justify-content: center;
}
.instruction__dots-item {
  margin: 0 10px;
  width: 15px;
  height: 15px;
  color: #6f6f6f;
}
.instruction__dots-item.active {
  color: #fd8223;
  text-decoration: underline;
}
// стилизация
.categories__inner {
  padding: 140px 0 85px;
  display: grid;
  grid-template-columns: repeat(3, minmax(160px, 420px));
  grid-auto-rows: 222px;
  grid-auto-columns: minmax(160px, 420px);
  grid-gap: 70px;
  justify-content: center;
}
.categories__item {
  background-color: #fff;
  display: block;
  color: #000;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  &:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    .categories__img { 
      transform: translate3d(-10%, -50%, 0);
    }
  }
}
.catalog-3 {
  background-color: #fd8223;
  display: none;
  align-items: flex-start;
  .categories__title {
    color: #fff;
  }
}
.categories__img {
  position: absolute;
  width: 500px;
  top: 50%;
  right: -50%;
  transform: translate3d(0, -50%, 0);
  object-fit: contain;
  transition: all 0.3s ease-in-out;
  height: 200px;
}
.categories__title {
  position: absolute;
  font-size: 28px;
  padding: 25px 0 0 30px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
// стилизация секции popular
.title {
  display: flex;
  align-items: center;
}
.title__link {
  font-size: 28px;
  color: #6f6f6f;
  position: relative;
  &:hover {
    text-decoration: underline;
    &::after {
      margin-left: 20px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 15px;
    background-size: contain;
    background-image: url("../img/icons/arrow_title.svg");
    background-repeat: no-repeat;
    background-position: center center;
    top: 55%;
    transform: translate3d(0, -55%, 0);
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }
}
.title__img {
  transition: all 0.3s ease-in-out;
  margin-left: 20px;
}
.popular__inner {
  padding-bottom: 85px;
}
.popular__title,
.new-products__title {
  margin-bottom: 30px;
}
.card-title-link {
  color: #090b0d;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  &:hover {
    text-decoration: underline;
  }
  //
  span {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-height: 1.3;
    font-size: 16px;
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 256px);
  grid-auto-rows: 460px;
  grid-gap: 30px;
  justify-content: space-evenly;
}
.card__wrapper {
  padding: 0 10px 4px 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100%;
}
.card-rating,
.card-title {
  display: block;
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  &:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    transform: translate3d(0, -10px, 0);
    .card-img{
      transform: scale(1.05);
    }
  }
}
.favourites {
  position: absolute;
  background: transparent;
  top: 20px;
  right: 20px;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.favorites-img {
  width: 26px;
  height: 23px;
  max-width: 100%;
  max-height: 100%;
}
.sale__card-link {
  display: flex;
  justify-content: center;
}
.card-img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 327px;
  object-fit: cover;
  object-position: center center;
  margin-bottom: 17px;
  transition: all 0.3s ease-in-out;
}
.card-rating {
  color: #090b0d;
  padding-left: 32px;
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 17px;
  font-size: 16px;
  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    background-image: url("../img/icons/star.svg");
  }
}
.card-title {
  max-width: 100%;
  color: #090b0d;
  font-size: 20px;
  line-height: 130%;
}
.card-new-price {
  color: #090b0d;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
}
.price__wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.card-old-price {
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #6f6f6f;
  text-decoration-line: line-through;
}
.card-new-price,
.card-old-price{
  font-size: 20px;
}
.button-show {
  width: 700px;
  max-width: 100%;
  padding: 20px;
  font-size: 18px;
  color: #fff;
  background: rgba(253, 130, 35, 0.9);
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  margin: 50px auto 50px;
  transition: all 0.2s ease;
  &:hover {
    filter: brightness(0.95);
  }
}
.button-show-link,
.button-show-link-2 {
  width: 700px;
  max-width: 100%;
  padding: 20px;
  font-size: 18px;
  color: #fff;
  background: rgba(253, 130, 35, 0.9);
  border-radius: 10px;
  margin: 0 auto;
  display: none;
  margin: 50px auto 50px;
  transition: all 0.2s ease;
  text-align: center;
  &:hover {
    filter: brightness(0.95);
  }
}
// стилизация footer
.footer {
  background-color: #090b0d;
  padding: 34px 0;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
}
.footer__list {
  max-width: 200px;
}
.footer__list + .footer__list {
  margin-left: 80px;
}
.footer__phone,
.footer__email,
.footer__address {
  display: block;
  color: #fff;
}
.footer__contacts {
  max-width: 365px;
}
.footer__address {
  line-height: 23px;
  margin-bottom: 20px;
}
.footer__phone {
  margin-bottom: 20px;
}
.footer__item,
.footer__copyright {
  color: #fff;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  &:hover {
    text-decoration: underline;
  }
}
.footer__item + .footer__item {
  margin-top: 20px;
}
.footer__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 93px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__social {
  display: flex;
}
.footer__social-item + .footer__social-item {
  margin-left: 15px;
}
.footer__social-img {
  width: 24px;
  height: 24px;
}
// анимация для появления карточек
.hide {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  pointer-events: none;
  transform: scale(0.9);
  top: -100%;
}
.show {
  visibility: visible;
  opacity: 1;
  clip-path: none;
  position: static;
  pointer-events: auto;
  transform: scale(1);
  top: 0%;
}
// ***
// кнопка якорь в начало страницы
.scroll {
  background-color: #fd8223;
  border-radius: 50%;
  padding: 26px 18px;
  transition: all 0.3s ease-in-out;
  position: fixed;
  right: 10px;
  bottom: -100%;
  visibility: hidden;
  z-index: 10;
  height: 69px;
  width: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  &:hover {
    filter: brightness(0.97);
  }
}
.scroll__img {
  width: 33px;
  height: 17px;
  max-width: 100%;
  max-height: 100%;
}
.scroll_active {
  bottom: 10px;
  visibility: visible;
}
// каталог
.catalog__background {
  overflow: hidden;
  position: absolute;
  top: 130px;
  width: 100%;
  z-index: 800;
  background-color: #fff;
  box-shadow: 0px 30px 25px rgba(0, 0, 0, 0.25);
  //   анимация
  transform: translate3d(0, -30px, 0);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.catalog__background.active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.modal__catalog {
  width: 327px;
  z-index: 800;
  color: #090b0d;
  width: 100%;
  background: #fff;
  visibility: hidden;
  height: 0;
  transition: all 0.2s ease-in-out;
}
.modal__catalog.active {
  visibility: visible;
  height: 100%;
}
.modal__wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  display: grid;
  z-index: 800;
  background: #fff;
  grid-template-columns: 328px 1fr;
  position: relative;
}
.catalog__list {
  max-width: 327px;
}
.catalog__item-link {
  display: flex;
  width: 100%;
  padding: 5px 3px;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.2s ease;
}
.link-1.active,
.link-2.active,
.link-3.active,
.link-4.active,
.link-5.active,
.link-6.active,
.link-7.active,
.link-8.active,
.link-9.active,
.link-10.active,
.link-11.active,
.link-12.active,
.link-13.active,
.link-14.active,
.link-15.active,
.link-16.active,
.link-17.active,
.link-18.active,
.link-19.active,
.link-20.active,
.link-21.active,
.link-22.active,
.link-23.active,
.link-24.active,
.link-25.active {
  background-color: #f4f4f4;
  border-radius: 3px 0 0 3px;
  .catalog__title {
    color: #fd8223;
  }
}
.catalog__item-right {
  margin-left: auto;
  margin-right: 20px;
}
.catalog__title {
  margin-left: 18px;
  color: #090b0d;
  font-weight: 500;
  transition: all 0.2s ease;
  user-select: none;
}
.modal__points {
  display: block;
  border-right: 1px solid #cccccc;
  height: 100%;
  padding: 30px 0 30px 10px;
}
.catalog__item + .catalog__item {
  margin-top: 25px;
}
.catalog__item-left,
.catalog__item-right {
  width: 10px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}
.catalog__item-left {
  margin-left: 5px;
  img {
    width: 22px;
    height: 22px;
    object-fit: contain;
  }
}
.main-categories {
  padding: 30px 0 30px 10px;
  margin-left: 30px;
  display: none;
}
.main-categories.active {
  display: block;
}
.main-categorise__title {
  display: inline-block;
  font-size: 16px;
  color: #090b0d;
  margin-top: 7px;
  position: relative;
}
.main-categories__img {
  margin-left: 15px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  position: absolute;
}
.child__categories {
  column-count: 4;
  height: 100%;
}
.child-item {
  width: 100%;
  margin-top: 40px;
  display: inline-block;
  padding-right: 30px;
}
.child-item__link {
  font-size: 16px;
  color: #090b0d;
  margin-bottom: 15px;
  display: inline-block;
  margin-bottom: 15px;
}
.child-item__text + .child-item__text {
  margin-top: 25px;
}
.child-item__text-link {
  color: #6f6f6f;
  transition: all 0.2s linear;
  &:hover {
    color: #fd8223;
  }
}
.catalog__img.change {
  content: url("../img/icons/close__icon.svg");
  margin-right: 15px;
}
.child-item-show {
  color: #6f6f6f;
  background: none;
  font-size: 14px;
  margin-top: 25px;
  position: relative;
  display: none;
  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: url("../img/icons/arrow_menu.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    right: -15px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    margin-left: 5px;
  }
}
// каталог для мобльной версии
.mobile-catalog__background,
.mobile-catalog__background-all {
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 9990;
  transition: all 0.3s ease-in-out;
  // анимация
  left: -100%;
  visibility: hidden;
}
#all {
  left: 100%;
}
#all.active {
  left: 0;
  visibility: visible;
}
.mobile-catalog__background.active {
  left: 0;
  visibility: visible;
}
.mobile-catalog__categories-right {
  width: 9px;
  height: 13px;
  max-width: 100%;
  max-height: 100%;
}
.mobile-catalog__modal {
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 30px 20px 20px 20px;
  flex-direction: column;
  overflow-y: auto;
  display: flex;
  transition: all 0.2s ease-in-out;
  &::-webkit-scrollbar {
    display: none;
  }
}
// анимация каталога на телефонах
.mobile-catalog__close,
.mobile-catalog__back {
  display: flex;
  align-items: center;
  color: #090b0d;
  font-size: 14px;
  background: none;
}
.mobile-catalog__close-img {
  margin-right: 5px;
  transform: rotate(90deg);
  pointer-events: none;
}
.mobile-catalog__content {
  padding: 10px 0 70px 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
}
.mobile-catalog__categories {
  line-height: 1.2;
  background: none;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  color: #090b0d;
  background-color: #f4f4f4;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
}
.mobile-catalog__categories {
  margin-top: 20px;
}
.mobile-catalog__categories-left {
  margin-right: 10px;
  width: 22px;
  height: 15px;
  pointer-events: none;
  object-fit: contain;
}
.mobile-catalog__categories-right {
  margin-left: auto;
}
// стили для аккордеона
.accordion__item {
  background-color: #f4f4f4;
  border-radius: 5px;
  margin-top: 20px;
}
.accordion__item-fix {
  background: none;
  .accordion__header {
    padding: 10px 10px 10px 30px;
    background: none;
  }
  .accordion__content > a {
    padding-left: 40px;
  }
  margin-top: 0;
}
.accordion__header,
.accordion__item-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  color: #212529;
  cursor: pointer;
}
.accordion__header::after,
.accordion__item-link::after {
  flex-shrink: 0;
  width: 9px;
  height: 13px;
  margin-left: auto;
  background-image: url("../img/catalog/arrow.svg");
  background-repeat: no-repeat;
  transition: all 0.1s linear;
  content: "";
}

.accordion__item_show > .accordion__header::after {
  transform: rotate(-90deg);
}

.accordion__item > .accordion__item {
  border: 1px solid black;
}
.accordion__content {
  display: flex;
  flex-direction: column;
  background: #fff;
}
.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}
.accordion__content > a {
  position: relative;
  display: block;
  color: #090b0d;
  text-decoration: none;
  padding: 25px 10px 25px 30px;
  &:last-child {
    border-radius: 0 0 5px 5px;
  }
}
.accordion__item-fix {
  .accordion__header {
    padding: 25px 10px 25px 30px;
  }
}
// стилизация страницы карточки товара
.tree-link__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 15px 25px 15px;
}
.tree-link__item {
  display: inline-block;
  color: #fd8223;
  position: relative;
  margin-right: 20px;
  &:hover {
    text-decoration: underline;
  }
}
.tree-link__img {
  margin-left: 5px;
  width: 6px;
  height: 12px;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
// секция product-card
.slider__wrapper {
  display: flex;
}
.product-card__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  border-bottom: 1px solid #ccc;
}
// слайдер
.product-card__slider {
  width: 431px;
  height: 564px;
  max-height: 100%;
  overflow: hidden;
  border-radius: 15px;
  position: sticky;
  top: 0;
  user-select: none;
  touch-action: auto;
  -ms-touch-action: auto;
  display: flex;
  background: #fff;
}
.product-card__slider-line {
  width: 431px;
  max-height: 564px;
  display: flex;
  position: relative;
  transition: all ease-in-out 0.5s;
}
.product-card__slider-img {
  object-fit: contain;
  width: 100%;
  height: auto;
}
.product-card__dots-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-card__dots {
  position: sticky;
  top: 0;
  margin-right: 10px;
  height: 562px;
  width: 100px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.product-card__dots-item {
  border-radius: 15px;
  background: #fff;
}
.product-card__dots-item + .product-card__dots-item {
  margin-top: 10px;
}
.product-card__dots-item.active {
  border: 1px solid #fd8223;
}
.product-card__button {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  top: 75%;
  transition: 0.2s linear;
  img {
    width: 11px;
    height: 25px;
    max-width: 100%;
    max-height: 100%;
  }
  &:hover {
    filter: brightness(0.97);
  }
}
.product-card__wrapper-img-slide {
  width: 431px;
  height: 564px;
  max-height: 100%;
  position: relative;
}
.product-card__button-prev {
  transform: rotate(-180deg);
  left: 20px;
}
.product-card__button-next {
  right: 20px;
}
.product-card__top__text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #6f6f6f;
}
.product-card__top-link {
  color: #6f6f6f;
  background: none;
  &:hover {
    text-decoration: underline;
  }
}
.product-card__top__text-img {
  margin-right: 10px;
}
.product-card__top-link {
  margin-right: 10px;
}
.product-card__info {
  width: 50%;
}
.product-card__title {
  padding: 15px 0;
  font-size: 22px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
.product-card__all-products {
  span {
    color: #fd8223;
  }
  margin-bottom: 15px;
}
.product-card__counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  width: 145px;
  max-width: 100%;
  margin-right: 50px;
}
.counter-minus,
.counter-plus {
  width: 25%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
}
.counter-result {
  width: 100%;
  height: 40px;
  text-align: center;
  background: none;
  font-size: 13px;
  color: #fd8223;
  &::placeholder {
    color: #fd8223;
  }
}
.product-card__counter.focus {
  border: 1px solid #fd8223;
}
.product-card__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 100%;

}
.counter__buy-info {
  width: 100%;
  display: flex;
  align-items: center;
  color: #fd8223;
  margin: 30px 0 22px 0;
  img {
    margin-right: 10px;
  }
}
.product-card__price-text {
  margin-bottom: 10px;
  font-size: 20px;
}
.product-card__price-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}
.product-card__price-new,
.product-card__price-old {
  font-size: 25px;
}
.product-card__price-new {
  color: #fd8223;
  margin-right: 30px;
}
.product-card__price-old {
  color: #6f6f6f;
  text-decoration: line-through;
  margin-right: 15px;
}
.product-card__sale,
.product-card__liquidation {
  background: #fd8223;
  color: #fff;
  border-radius: 3px;
  padding: 3px;
}
.product-card__sale {
  margin-right: 5px;
}
.product-card__basket,
.product-card__buy {
  padding: 15px;
  max-width: 100%;
  background: #fd8223;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #fd8223;
  font-size: 16px;
  height: 50px;
}
.product-card__basket{
	white-space: nowrap;
	width: 290px;
	margin-right: 20px;
}
.product-card__buy {
  background: none;
  color: #6f6f6f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-card__heart {
  max-width: 25px;
  max-width: 25px;
  margin-right: 10px;
}
.product-card__number {
  color: #6f6f6f;
  margin: 10px 0 12px 0;
  font-size: 16px;
}
#number {
  font-weight: 700;
}
.product-card__location {
  color: #6f6f6f;
  margin-bottom: 20px;
}
.product-card__human {
  display: flex;
  color: #6f6f6f;
  margin-bottom: 30px;
  a {
    margin-left: 5px;
    color: #fd8223;
    &:hover {
      text-decoration: underline;
    }
  }
}
.product-card__delivery {
  color: #6f6f6f;
  margin-bottom: 20px;
}
.product-card__color {
  padding: 0 0 20px 0;
  color: #6f6f6f;
}
.color-card {
  color: #fd8223;
  font-weight: 700;
}
.product-card__button-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 75px);
  grid-template-rows: 100px;
  grid-auto-rows: 100px;
  grid-gap: 15px;
  margin-bottom: 30px;
  justify-content: flex-start;
}
.product-card__button-cards-item {
  border: 1px solid rgba(111, 111, 111, 0.2);
  border-radius: 15px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    border-radius: 15px;
  }
}
.disabled {
  position: relative;
  overflow: hidden;
  border: 1px dashed rgba(111, 111, 111, 0.2);
  img {
    opacity: 30%;
  }
  &::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background: #6f6f6f;
    top: 46px;
    left: -25px;
    opacity: 30%;
    transform: rotate(55deg);
  }
}
.target {
  border: 3px solid #fd8223;
}
.product-card__about {
  span {
    display: inline-block;
    margin-bottom: 20px;
  }
}
.product-card__list-item + .product-card__list-item {
  margin-top: 20px;
}
// секция points
.point__item-btn {
  font-size: 14px;
  background: none;
  height: 66px;
  white-space: nowrap;
}
.points__list {
  height: inherit;
  display: flex;
  align-items: center;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.points__inner {
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
.point__wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.points__item + .points__item {
  margin-left: 50px;
}
.points__item.active {
  position: relative;
  .point__item-btn {
    color: #fd8223;
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #fd8223;
    bottom: 0px;
    display: block;
  }
}
// секция description
.description__wrapper {
  width: 60%;
}
iframe {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}
.description__img {
  width: 100%;
}
.description__inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
// секция compilation
.compilation__inner {
  padding-bottom: 100px;
}
.compilation__title {
  font-size: 22px;
  margin-bottom: 50px;
}
.compilation__link {
  color: #fd8223;
  &:hover {
    text-decoration: underline;
  }
}
.description {
  display: none;
}
.description.active {
  display: block;
}
// секция feedback
.feedback,
.applicability,
.instruction {
  display: none;
}
.feedback__inner,
.applicability__inner,
.instruction__inner {
  padding-bottom: 100px;
}
.feedback.active,
.instruction.active,
.applicability.active {
  display: block;
}
.feedback__title {
  font-size: 22px;
  span {
    color: #fd8223;
  }
}
.text {
  display: none;
}
// для зум эффекта
// .img-zoom-lens {
//   position: absolute;
//   width: 100px;
//   height: 60px;
//   background-color: #000;
//   pointer-events: none;
//   z-index: 999;
//   border-radius: em(5);
//   display: none;
// }

.img-zoom-result {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 250%;
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 999;
  background-position: 50% 50%;
  border-radius: em(5);
  display: none;
  left: 0;
  right: 0;
  pointer-events: none;
}
// стили для попап слайдера
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  z-index: 9999;
  display: flex;
  flex-direction: column-reverse;
  .product-card__slider {
    width: 100%;
    height: 100%;
    position: static;
  }
  .product-card__slider-line,
  .product-card__wrapper-img-slide {
    height: 100%;
    min-height: 100%;
    width: 100%;
  }
  .product-card__dots {
    position: static;
    height: 15%;
    width: 100%;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 10px;
    background-color: #ffffff90;
    .product-card__dots-item {
      min-width: 100px;
      max-width: 100px;
      height: 100%;
      margin: 0;
      border: 1px solid #f4f4f4;
    }
    .product-card__dots-item + .product-card__dots-item {
      margin-left: 10px;
    }
    .product-card__dots-item.active {
      border: 1px solid #fd8223;
    }
  }
  .product-card__button {
    top: 50%;
    background-color: #ffffff90;
  }
}
.popup-close {
  position: absolute;
  top: 20px;
  background: none;
  right: 20px;
  display: none;
  color: #fd8223;
  width: 30px;
  height: 30px;
  z-index: 9999;
  img {
    width: 100%;
  }
}
// для каталога мобильной версии
.content {
  display: none;
}
.accordion__content-link,
.accordion__header,
.mobile-catalog__categories,
.mobile-catalog__close,
.mobile-catalog__back {
  font-weight: 500;
  color: #6f6f6f;
  font-size: 16px;
}
.mobile-catalog__back,
.mobile-catalog__close {
  color: #090b0d;
}
// секция applicability
.applicability.active {
  display: block;
}
// секция instruction
.instruction__inner {
  text-align: center;
}
.instruction__switches {
  margin-bottom: 40px;
}
.instruction__btn {
  font-size: 20px;
  height: 30px;
  max-width: 100%;
}
.instruction__btn + .instruction__btn {
  margin-left: 60px;
}
.instruction__btn.active {
  border-bottom: 1px solid #fd8223;
  color: #fd8223;
}
.comment {
  font-size: 20px;
  color: #6f6f6f;
}
.comment__link {
  color: #fd8223;
  text-decoration: underline;
}
.instruction__slider,
.instruction__video{
	display: none;
}
.instruction__slider.active,
.instruction__video.active{
	display: block;
}
// стили для popup авторизации
.sign-popup-bg{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: 999999999;
  overflow-y: auto;
  padding: 10px 10px;
  &::-webkit-scrollbar{
    display: none;
  }
}
.sign-popup-bg.active{
  display: block;
}
.sign-popup{
  width: 100%;
  max-width: 380px;
  background-color: #f2f4f5;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  // анимация появления
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: all .2s ease-in-out;
}
.sign-popup.active{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.sign-popup-shopper,
.sign-popup-seller,
.reset-password,
.reset-password-accept,
.authorization{
  display: none;
}
.sign-popup-seller{
  .sign-popup__submit{
    margin: 0;
  }
}
.sign-popup-shopper.active,
.sign-popup-seller.active{
  display: block;
}
.reset-password.active,
.reset-password-accept.active{
  display: block;
}
.sign-popup-bg__inner{
  height: 100%;
  display: flex;
}
.sign-popup__btn{
  width: 50%;
  padding: 10px 35px;
  border-radius: 5px;
  font-size: 16px;
  min-height: 45px;
  user-select: none;
  background-color: #fff;
  color: #6f6f6f;
}
.sign-popup__btn.active{
  background-color: #fd8223;
  color: #fff;
}
.sign-popup__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.sign-popup__btn + .sign-popup__btn{
  margin-left: 30px;
}
.sign-popup__btn-shopper{
  transition: all .1s linear;
}
.sign-popup__btn-seller{
  color: #6f6f6f;
}
.sign-popup__label{
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
}
.sign-popup__label-btn-pass{
  position: absolute;
  width: 25px;
  height: 20px;
  background-image: url('../img/icons/hiddenPassword.svg');
  background-repeat: no-repeat;
  background-size: contain;
  right: 15px;
  top: 35px;
}
.sign-popup__label-btn-pass.show{
  background-image: url('../img/icons/passwordShow.svg');
  top: 37px;
}
// ***
.checkMarkAccept{
  height: 250px;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
}
.checkmarkAccept__wrapper{
  width: 80px;
  height: 60px;
}
.checkMarkAccept__text{
  opacity: 0;
  transition: all .4s linear;
}
.checkMarkAccept__text.animation{
  opacity: 1;
}
.check-sign {
  background: #7bf97c;
}
#check-part-1{
  width: 0;
  opacity: 0;
  height: 10px;    
  transform:rotate(45deg);	
  transform-origin: 0 10px;
  border-radius: 10px 0 10px 10px;
}
#check-part-2{
  width: 0;
  height: 10px;    
  transform: rotate(-45deg) translate3d(16px,42.9px,0);
  opacity: 0;
  transform-origin: 0 10px;
  border-radius: 0 10px 10px 0;
  margin-bottom: 40px;
} 
#check-part-1.animation{
  opacity: 1;
  width: 50px;
  transition: width .4s, opacity .3s linear;
}
#check-part-2.animation{
  opacity: 1;
  width: 80px;
  transition: width .4s .4s , opacity .3s .4s linear;
}
// ***
.sign-popup__text{
  color: #6f6f6f;
  margin-bottom: 5px;
  display: inline-flex;
}
.sign-popup__text--style{
  display: flex;
  align-items: center;
  color: #000;
  margin: 0 0 0 5px;
}
.sign-popup__input{
  background-color: #fff;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  color: #000;
  padding: 10px 45px 10px 20px;
  font-size: 16px;
}
.sign-popup__input.invalid{
  border: 1px solid rgb(250, 95, 95);
}
.sign-popup__bottom-wrapper{
  display: flex;
  align-items: center;
  position: relative;
}
.sign-popup__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.sign-popup__bottom-sign,
.sign-popup__bottom-register,
.sign-popup__bottom-reset-password{
  background: none;
  color: #fd8223;
  font-size: 16px;
  user-select: none;
  &:hover{
    text-decoration: underline;
  }
}
.sign-popup__bottom-register{
  margin-bottom: 20px;
}
.sign-popup__submit{
  min-height: 50px;
  width: 100%;
  background-color: #fd8223;
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: all .1s linear;
  &:hover{
    background-color: #e3731d;
  }
}
.sign-popup__social{
  width: 100%;
}
.sign-popup__bottom-wrapper{
  display: flex;
  align-items: center;
}
.sign-popup__checkbox{
  opacity: 0;
  z-index: -1;
  position: absolute;
}
.sign-popup__checkbox:checked+label{
  &::before{
    content: '';
    background-color: #fd8223;
    border: 1px solid #fd8223;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
}
.sign-popup__checkbox+label{
  user-select: none;
  padding-left: 15px;
  &::before{
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #6f6f6f;
    border-radius: 3px;
  }
}
.sign-popup__social{
  .sign-popup__text--style{
    margin: 0 0 20px 0;
  }
}
.sign-popup__social-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sign-popup__social-btn{
  display: inline-flex;
  align-items: center;
  user-select: none;
  width: calc(100% / 3);
  padding: 10px;
  min-height: 40px;
  color: #fff;
  border-radius: 5px;
}
.sign-popup__social-btn + .sign-popup__social-btn{
  margin-left: 10px;
}
.sign-popup__social-img{
  margin-right: 10px;
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.vkBtn{
  background-color: #4A76A8;
}
.facebookBtn{
  background-color: #3B5998;
}
.googleBtn{
  background-color: #F44336;
}
.reset-password__inner{
  .sign-popup__label{
    margin-top: 0;
    margin-bottom: 20px;
  }
}
.reset-password__title{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.reset-password__text{
  color: #6f6f6f;
  margin-bottom: 20px;
  max-width: 300px;
  line-height: 1.2;
}
.reset-password__btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.reset-password__btn{
  font-size: 16px;
  padding: 10px 40px;
  min-height: 50px;
  border-radius: 5px;
  width: 50%;
}
.reset-password__btn + .reset-password__btn{
  margin-left: 30px;
}
.requestBtn,
.nextBtn{
  background-color: #fd8223;
  transition: all .1s linear;
  color: #fff;
  &:hover{
    background-color: #e3731d;
  }
}
.backBtn{
  border: 1px solid #000;
}
.nextBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.signInBtn{
  background: none;
  font-size: 14px;
}
// медиа-запросы
@media (max-width: 1920px) {
  .categories__title {
    font-size: calc(16px + (28 - 16) * ((100vw - 480px) / (1920 - 480)));
  }
  .categories__inner {
    padding-top: calc(0px + (140 - 0) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(30px + (85 - 30) * ((100vw - 320px) / (1920 - 320)));
    grid-row-gap: calc(20px + (70 - 20) * ((100vw - 480px) / (1920 - 480)));
    grid-column-gap: calc(20px + (70 - 20) * ((100vw - 480px) / (1920 - 480)));
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .popular__inner,
  .new-products__inner,
  .sale__inner {
    padding-bottom: calc(30px + (85 - 30) * ((100vw - 320px) / (1920 - 320)));
  }
  .drop-menu__content {
    grid-column-gap: calc(30px + (80 - 30) * ((100vw - 480px) / (1920 - 480)));
    grid-row-gap: calc(40px + (70 - 30) * ((100vw - 480px) / (1920 - 480)));
  }
  .title__link {
    font-size: calc(20px + (28 - 20) * ((100vw - 480px) / (1920 - 480)));
  }
  .button__slider {
    width: calc(30px + (70 - 30) * ((100vw - 480px) / (1920 - 480)));
    height: calc(30px + (70 - 30) * ((100vw - 480px) / (1920 - 480)));
  }
  .dots-block {
    bottom: calc(10px + (30 - 10) * ((100vw - 480px) / (1920 - 480)));
  }
}
@media (max-width: 1400px) {
  .child__categories {
    width: 100%;
    column-count: 3;
    column-gap: 87px;
  }
}
@media (max-width: 1362px) {
  .main__btn {
    display: block;
  }
}
@media (max-width: 1277px) {
  .slider__wrapper {
    margin-bottom: 30px;
  }
  .product-card__slider-img {
    object-fit: contain;
  }
  .product-card__slider,
  .product-card__wrapper-img-slide,
  .product-card__slider-img {
    width: calc(241px + (431 - 241) * ((100vw - 768px) / (1277 - 768)));
    height: calc(321px + (564 - 321) * ((100vw - 768px) / (1277 - 768)));
  }
  .product-card__dots {
    width: calc(50px + (100 - 50) * ((100vw - 768px) / (1277 - 768)));
    height: calc(321px + (564 - 321) * ((100vw - 768px) / (1277 - 768)));
  }
}
@media (max-width: 1250px) {
  .categories__img {
    height: 150px;
    right: -60%;
  }
  .categories__item {
    &:hover {
      .categories__img {
        right: -50%;
      }
    }
  }
}
@media (max-width: 1200px) {
  .header__nav {
    margin-left: auto;
  }
  .main__menu {
    .container {
      position: relative;
    }
  }
}
@media (max-width: 1145px) {
  .header__text {
    display: none;
  }
  .header__search {
    width: 80%;
  }
}
@media (max-width: 1174px) {
  .categories__inner {
    justify-content: flex-start;
    overflow: auto;
    grid-auto-flow: column;
  }
  .footer__wrapper {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .footer__contacts {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .footer__nav {
    width: 100%;
  }
}
@media (max-width: 1150px) {
  .categories__img {
    height: 110px;
    right: -60%;
  }
  .categories__item {
    &:hover {
      .categories__img {
        right: -50%;
      }
    }
  }
}
@media (max-width: 1070px) {
  .categories__img {
    height: 120px;
    right: -75%;
  }
  .categories__item {
    &:hover {
      .categories__img {
        right: -65%;
      }
    }
  }
}
@media (max-width: 1110px) {
  .child__categories {
    width: 100%;
    column-count: 2;
    column-gap: 87px;
  }
}
@media (max-width: 959px) {
  .bottom-menu {
    display: block;
  }
  .header__nav {
    display: none;
  }
  .header__search {
    margin-right: 0;
  }
  .scroll_active {
    bottom: 70px;
    visibility: visible;
  }
  .categories__img {
    height: 120px;
    right: -80%;
  }
  .categories__item {
    &:hover {
      .categories__img {
        right: -70%;
      }
    }
  }
  .header__search {
    width: 100%;
  }
  .scroll {
    padding: 9px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    img {
      width: 50%;
      height: 50%;
    }
  }
  .catalog-2-header {
    display: flex;
  }
  .catalog {
    display: none;
  }
}
@media (max-width: 900px) {
  .search-bg,
  .search-bg-vin{
    top: 140px;
  }
  .search-bg.active,
  .search-bg-vin.active{
    top: 130px;
  }
  .modal__wrapper {
    grid-template-columns:
      calc(220px + (328 - 200) * ((100vw - 480px) / (900 - 480)))
      1fr;
  }
  .catalog-2-header{
    margin-left: 0;
  }
  .main-categories {
    margin-left: calc(0px + (30 - 0) * ((100vw - 480px) / (900 - 480)));
  }
  .header__inner {
    flex-wrap: wrap;
  }
  .header__search {
    width: 87%;
  }
  .header__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .region-2 {
    display: block;
  }
  .header__inner {
    padding: 20px 0;
  }
  .nav-top {
    display: none;
  }
  .catalog {
    margin: 0 10px 0 0;
  }
}
@media (max-width: 800px) {
  .categories__img {
    height: 100px;
    transform: translate3d(5%, -50%, 0);
  }
  .categories__item {
    &:hover {
      .categories__img {
        transform: translate3d(3%, -50%, 0);
      }
    }
  }
}
@media (max-width: 767px) {
  .slider__wrapper {
    width: 100%;
    height: 100%;
    max-height: 685px;
  }
  .product-card__info {
    width: 100%;
  }
  .product-card__inner {
    flex-wrap: wrap;
  }
  .product-card__slider,
  .product-card__wrapper-img-slide,
  .product-card__slider-line {
    width: 100%;
    height: 100%;
    max-height: 685px;
  }
  .product-card__dots {
    width: 15%;
    height: 685px;
  }
}
@media (max-width: 638px) {
  .product-card__dots {
    height: calc(331px + (685 - 325) * ((100vw - 321px) / (638 - 321)));
  }
  .product-card__dots-item {
    height: calc(60px + (98 - 60) * ((100vw - 321px) / (638 - 321)));
  }
}
@media (max-width: 670px) {
  .header__input {
    &::placeholder {
      font-size: calc(12px + (14 - 12) * ((100vw - 480px) / (670 - 480)));
    }
  }
  .categories__img {
    height: 100px;
    transform: translate3d(15%, -50%, 0);
  }
  .categories__item {
    &:hover {
      .categories__img {
        transform: translate3d(13%, -50%, 0);
      }
    }
  }
}
@media (max-width: 623px) {
  .product-card__title,
  .feedback__title,
  .compilation__title {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  .categories__img {
    height: 90px;
    transform: translate3d(20%, -50%, 0);
  }
  .categories__item {
    &:hover {
      .categories__img {
        transform: translate3d(15%, -50%, 0);
      }
    }
  }
}
@media (max-width: 550px) {
  .header__input{
    padding: 0 185px 0 10px;
  }
  .footer__nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .footer__list {
      margin: 0;
      text-align: center;
    }
    .footer__list + .footer__list {
      margin-top: 50px;
    }
  }
  .footer__contacts {
    text-align: center;
    margin-bottom: 50px;
  }
  .footer__bottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .footer__social {
    margin-bottom: 50px;
  }
}
@media (max-width: 479px) {
  .sign-popup__btn{
    padding: 10px;
  }
  .sign-popup__social-btn{
    justify-content: center;
  }
  .sign-popup__social-img{
    margin: 0;
  }
  .sign-popup__social-text{
    display: none;
  }
  .search-bg__select-btn{
    height: 45px;
  }
  .search-bg__select-dropdown-item{
    padding: 20px 0 15px 10px;
  }
  .search-bg__wrapper{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .search-bg__select-container + .search-bg__select-container{
    margin: 20px 0 0 0;
  }
  .search-bg__select-container{
    max-width: 100%;
  }
  .voice {
    display: block;
  }
  .search-bg,
  .search-bg-vin{
    top: 180px;
  }
  .search-bg.active,
  .search-bg-vin.active{
    top: 170px;
  }
  .search-bg__select-dropdown{
    height: 190px;
  }
  .search {
    display: block;
  }
  .header__search {
    display: none;
    border: none;
  }
  .header__input {
    display: none;
  }
  .catalog {
    display: none;
  }
  .header__btn-search {
    display: none;
  }
  .vin{
    img{
      width: 25px;
      height: 25px;
    }
  }
  .logo__img {
    width: calc(100px + (165 - 100) * ((100vw - 320px) / (479 - 320)));
  }
  .header__wrapper {
    margin: 0;
  }
  .main__menu {
    display: none;
  }
  .slider,
  .info {
    padding: 45px 0;
  }
  .info__slider {
    padding-top: 0;
  }
  .slick-dots {
    position: absolute;
    display: flex;
    bottom: 30px;
    right: 50%;
    transform: translate3d(50%, 0, 0);
    button {
      font-size: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 1px solid #6f6f6f;
    }
    li + li {
      margin-left: 5px;
    }
    .slick-active button {
      background: #6f6f6f;
    }
  }
  .slider__item {
    margin-right: 20px;
  }
  .categories__item {
    &:hover {
      filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
    }
  }
  .catalog-3 {
    display: flex;
  }
  .title__link {
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (479 - 320)));
  }
  .cards {
    justify-content: flex-start;
    overflow-x: auto;
    align-items: center;
    grid-auto-flow: column;
    display: grid;
    grid-template-columns: repeat(5, minmax(160px, 256px));
    grid-auto-rows: 260px;
    grid-gap: 30px;
    grid-auto-columns: minmax(160px, 256px);
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .card-img {
    height: 100%;
    width: 70%;
  }
  .card-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-title-link {
    span {
      font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (479 - 320)));
    }
  }
  .price__wrapper {
    flex-grow: 0;
  }
  .card-new-price,
  .card-old-price {
    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (479 - 320)));
  }
  .card-new-price {
    margin-right: 35px;
  }
  .favourites {
    display: none;
  }
  .card-rating {
    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (479 - 320)));
    display: flex;
    align-items: center;
    padding-left: calc(25px + (32 - 25) * ((100vw - 320px) / (479 - 320)));
    &::before {
      background-size: calc(15px + (20 - 15) * ((100vw - 320px) / (479 - 320)));
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .card__wrapper {
    padding-bottom: 10px;
  }
  .card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    &:hover {
      transform: translate3d(0, 0, 0);
      box-shadow: none;
    }
  }
  .title__link {
    &:hover {
      &::after {
        margin-left: calc(10px + (20 - 10) * ((100vw - 320px) / (479 - 320)));
      }
    }
  }
  .info {
    display: block;
  }
  .cards,
  .categories__inner {
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
  .info__inner {
    padding-bottom: calc(30px + (35 - 30) * ((100vw - 320px) / (479 - 320)));
  }
  .footer__contacts {
    width: 100%;
  }
  .footer__address,
  .footer__phone,
  .footer__email,
  .footer__link,
  .footer__item-title,
  .footer__copyright {
    text-align: center;
    max-width: 100%;
    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (479 - 320)));
  }
  .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .footer__logo {
    max-width: 100%;
    text-align: center;
  }
  .footer__bottom {
    align-items: center;
    max-width: 100%;
  }
  .footer__copyright {
    max-width: 250px;
    margin: 0;
  }
  .footer__list,
  .footer__item,
  .footer__item-title {
    width: 100%;
    text-align: center;
  }
  .footer__address,
  .footer__phone {
    margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (479 - 320)));
  }
  .footer__contacts,
  .footer__social {
    margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (479 - 320)));
  }
  .footer__item + .footer__item {
    margin-top: calc(10px + (20 - 10) * ((100vw - 320px) / (479 - 320)));
  }
  .footer__nav .footer__list + .footer__list {
    margin-top: calc(20px + (50 - 20) * ((100vw - 320px) / (479 - 320)));
  }
  .footer__wrapper {
    margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (479 - 320)));
  }
  .button-show {
    display: none;
  }
  .card-title-link {
    span {
      line-height: 18px;
    }
  }
  .categories__title {
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (479 - 320)));
  }
  // слайдер
  .slider-line {
    margin-left: -30px;
  }
  .slider__img {
    padding-left: 10px;
  }
  .dots-block {
    bottom: 25px;
  }
  .button__slider,
  .instruction__button-slider {
    display: none;
  }
  .new-products__inner,
  .sale__inner {
    padding-bottom: 30px;
  }
  .categories__img {
    height: 100px;
    transform: translate3d(25%, -30%, 0);
  }
  .categories__title {
    padding-left: 20px;
    padding-top: 30px;
  }
  .categories__item {
    &:hover {
      .categories__img {
        transform: translate3d(20%, -30%, 0);
      }
    }
  }
  .tree-link__inner {
    padding-top: 25px;
  }
  .product-card__title,
  .feedback__title,
  .compilation__title {
    font-size: 22px;
  }
  .point__item-btn {
    font-size: 16px;
  }
  .slider__wrapper {
    width: 100%;
  }
  .description__wrapper {
    width: 100%;
  }
  .description__inner,
  .compilation__inner {
    padding-bottom: 40px;
  }
  .compilation__title {
    margin-bottom: 40px;
  }
  .title__link {
    &:hover {
      &::after {
        margin-left: 10px;
      }
    }
    &::after {
      height: 8px;
      margin-left: 5px;
      top: 50%;
      transform: translate3d(0, -50%, 0);
    }
  }
  .popup-slider__btn {
    display: none;
  }
  .catalog-2-header {
    display: none;
  }
  .points__item + .points__item {
	margin-left: calc(25px + (50 - 25) * ((100vw - 320px) / (479 - 320)));
  }
  .instruction__btn,
  .comment {
	font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (479 - 320)));
  }
  .instruction__btn + .instruction__btn{
	margin-left: calc(20px + (60 - 20) * ((100vw - 320px) / (479 - 320)));
  }
}
@media (max-width: 360px) {
  .product-card__info {
    .product-card__wrapper {
      justify-content: space-between;
    }
  }
  .product-card__price-new,
  .product-card__price-old {
    font-size: 18px;
  }
  .counter__buy-info {
    font-size: 11px;
  }
  .product-card__basket,
  .product-card__buy {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 320px) {
  .product-card__dots {
    display: none;
  }
}