<div class="bottom-menu">
	<ul class="bottom-menu__list">
		<li class="bottom-menu__item">
			<button class="menu__bottom-link signInBtn" type="button">
				<img class="bottom-menu__img" src="img/icons/profile.svg" alt="">
				<p>Профиль</p>
			</button>
		</li>
		<li class="bottom-menu__item">
			<a class="menu__bottom-link" href="#">
				<img class="bottom-menu__img" src="img/icons/sms.svg" alt="">
				<p>Чат</p>
			</a>
		</li>
		<li class="bottom-menu__item">
			<a class="menu__bottom-link" href="#">
				<img class="bottom-menu__img" src="img/icons/plus.svg" alt="">
				<p>Продать</p>
			</a>
		</li>
		<li class="bottom-menu__item">
			<a class="menu__bottom-link" href="#">
				<img class="bottom-menu__img" src="img/icons/garage__menu.svg" alt="">
				<p>Гараж</p>
			</a>
		</li>
		<li class="bottom-menu__item">
			<a class="menu__bottom-link" href="#">
				<img class="bottom-menu__img" src="img/icons/basket__menu.svg" alt="">
				<p>Корзина</p>
			</a>
		</li>
	</ul>
</div>