<div class="catalog__background active">
	<div class="modal__catalog active">
		<nav class="modal__wrapper">
			<!-- левый блок категорий -->
			<aside class="modal__points">
				<ul class="catalog__list" id="catalog-list">
					<li class="catalog__item" data-index="1">
						<a class="catalog__item-link link-1 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/car__icon.svg" alt="car icon">
							</div>
							<span class="catalog__title">
								Авто
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item" data-index="2">
						<a class="catalog__item-link link-2 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/moto__icon.svg" alt="moto icon">
							</div>
							<span class="catalog__title">
								Мотоциклы
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-3 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/snowcar__icon.svg" alt="snowmobile icon">
							</div>
							<span class="catalog__title">
								Снегоходы
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-4 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/atv__icon.svg" alt="atl icon">
							</div>
							<span class="catalog__title">
								Квадроциклы и мотовездеходы
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-5 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/scooter__icon.svg" alt="scooter icon">
							</div>
							<span class="catalog__title">
								Скутеры
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-6 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/bike__icon.svg" alt="bike icon">
							</div>
							<span class="catalog__title">
								Вело
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-7 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/electronic-car__icon.svg" alt="electronic-car icon">
							</div>
							<span class="catalog__title">
								Электротранспорт
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-8 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/commercial__icon.svg" alt="commercial icon">
							</div>
							<span class="catalog__title">
								Коммерческий
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-9 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/water-car__icon.svg" alt="water-car icon">
							</div>
							<span class="catalog__title">
								Водный транспорт
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-10 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/excavator__icon.svg" alt="special equipment">
							</div>
							<span class="catalog__title">
								Спецтехника
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-11 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/mower__icon.svg" alt="agricultural machinery icon">
							</div>
							<span class="catalog__title">
								Сельхозтехника
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-12 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/electronic__icon.svg" alt="electronic icon">
							</div>
							<span class="catalog__title">
								Электроника
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-13 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/household__icon.svg" alt="household icon">
							</div>
							<span class="catalog__title">
								Бытовая техника
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-14 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/electrics__icon.svg" alt="electrics icon">
							</div>
							<span class="catalog__title">
								Электрика
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-15 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/instruments__icon.svg" alt="instruments icons">
							</div>
							<span class="catalog__title">
								Инструмент
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-16 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/bolt__icon.svg" alt="hardware icon">
							</div>
							<span class="catalog__title">
								Метизы
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-17 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/RTI__icon.svg" alt="rti icon">
							</div>
							<span class="catalog__title">
								РТИ
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-18 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/sport__icon.svg" alt="sport icon">
							</div>
							<span class="catalog__title">
								Хобби, спорт и развлечения
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-19 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/equipment__icon.svg" alt="equipment icon">
							</div>
							<span class="catalog__title">
								Оборудование
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-20 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/robot__icon.svg" alt="robot icon">
							</div>
							<span class="catalog__title">
								Робототехника
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-21 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/glasses__icon.svg" alt="glasses icon">
							</div>
							<span class="catalog__title">
								Оптика
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-22 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/moto-head__icon.svg" alt="motorsport icon">
							</div>
							<span class="catalog__title">
								Авто мото спорт
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-23 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/helicopter__icon.svg" alt="aviation icon">
							</div>
							<span class="catalog__title">
								Авиация
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-24 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/books__icon.svg" alt="books icon">
							</div>
							<span class="catalog__title">
								Литература и обучение
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
					<li class="catalog__item">
						<a class="catalog__item-link link-25 item-link-dropdown" href="#">
							<div class="catalog__item-left">
								<img src="img/catalog/machine__icon.svg" alt="machine icon">
							</div>
							<span class="catalog__title">
								Станки
							</span>
							<div class="catalog__item-right">
								<img src="img/catalog/arrow.svg" alt="arrow right">
							</div>
						</a>
					</li>
				</ul>
			</aside>
			<!-- блок для вывода -->
			<div class="output">

			</div>
		</nav>
	</div>
</div>