* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

@font-face {
  font-family: "Helvetica Thin";
  src: url(../fonts/Helvetica/Helvetica-Thin.woff);
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Extra Light";
  src: url(../fonts/Helvetica/Helvetica-Ultra-Light.woff);
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Light";
  src: url(../fonts/Helvetica/Helvetica-Light.woff);
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Regular";
  src: url(../fonts/Helvetica/Helvetica-Regular.woff);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Medium";
  src: url(../fonts/Helvetica/Helvetica-Medium.woff);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Bold";
  src: url(../fonts/Helvetica/Helvetica-Bold.woff);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Extra Bold";
  src: url(../fonts/Helvetica/Helvetica-Extra-Bold.woff);
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Black";
  src: url(../fonts/Helvetica/Helvetica-Black.woff);
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
body {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  width: 100%;
  z-index: 999;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: none;
  z-index: 9999;
}

.bottom-menu__img {
  width: 21px;
  height: 21px;
  margin-bottom: 5px;
}

.bottom-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.menu__bottom-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__bottom-link p {
  font-size: 13px;
  color: #6f6f6f;
}

.nav-top {
  background: rgba(9, 11, 13, 0.78);
}

.nav-top__inner {
  padding: 0.625em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region__icon-location {
  width: 14px;
  height: 20px;
}

.region__button,
.region__button-2 {
  background: none;
  color: #fff;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region-2 {
  display: none;
}

.region__text-2 {
  color: #090b0d;
  margin-left: 10px;
}

.region__overflow-2 {
  right: 0;
}

.btnlang-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region_active .region__icon,
.region-2_active .region__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.region_active .region__overflow {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  z-index: 1000;
}

.region-2_active .region__overflow-2 {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  z-index: 1000;
}

.region__text {
  margin: 0 0.625em;
}

.region,
.region-2 {
  position: relative;
  max-width: 100%;
}

.region__overflow,
.region__overflow-2 {
  position: absolute;
  -webkit-box-shadow: 0px 2px 10px rgba(42, 115, 217, 0.2);
          box-shadow: 0px 2px 10px rgba(42, 115, 217, 0.2);
  background-color: rgba(9, 11, 13, 0.78);
  border-radius: 0 0 0.3125em 0.3125em;
  margin-top: 0.625em;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-x: hidden;
}

.region__overflow-2 {
  border-radius: 10px;
  background-color: #fd8223;
}
.region__overflow-2 .region__title {
  border-bottom: 1px solid #fff;
}
.region__overflow-2 .btnlang {
  color: #fff;
}

.region__list {
  overflow: auto;
}

.region__title {
  display: block;
  white-space: nowrap;
  position: relative;
  border-bottom: 1px solid #fd8223;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.region__title:last-child {
  border-bottom: none;
}
.region__title a {
  color: #536dfe;
}

.btnlang {
  background: none;
  color: #fff;
  text-align: left;
  padding: 0 0.625em;
  height: 35px;
  width: 100%;
}

.nav-top__menu {
  position: relative;
}

.nav-top__title {
  color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.nav-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-top__img {
  margin-right: 0.9375em;
}

.nav-top__link {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-top__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-top__item + .nav-top__item {
  margin-left: 2.1875em;
}

.search {
  background-color: #fd8223;
  display: none;
}

.search__inner {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  background-color: #fff;
}

.logo__img {
  width: 165px;
  height: 42px;
}

.header__wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__inner {
  padding: 1.875em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.voice {
  display: none;
  margin: 0 10px;
}

.catalog-2 {
  display: none;
  background: #fd8223;
  border-radius: 5px;
  color: #fff;
  padding: 0.625em 0.8125em;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.catalog-2 .catalog__img {
  margin-right: 0;
  height: 15px;
}

.catalog-2-header {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.catalog {
  background: #fd8223;
  border-radius: 5px;
  color: #fff;
  padding: 0.625em 0.8125em;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100px;
  position: relative;
}
.catalog:hover {
  -webkit-filter: brightness(0.97);
          filter: brightness(0.97);
}

.catalog__img {
  margin-right: 10px;
  width: 18px;
  height: 13px;
}

.header__search,
.header__search-2 {
  width: 513px;
  height: 40px;
  max-width: 100%;
  border: 1px solid #bcbcbc;
  border-radius: 0.3125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10px;
}
.header__search button,
.header__search-2 button {
  height: 100%;
}

.header__search-2 {
  background-color: #fff;
  border: none;
}

.region-2 {
  display: none;
}

.header__input,
.header__input-2 {
  width: 68%;
  height: 100%;
  padding: 0 1.25em;
  border-radius: 0.3125em;
}
.header__input::-webkit-input-placeholder, .header__input-2::-webkit-input-placeholder {
  color: #6f6f6f;
}
.header__input::-moz-placeholder, .header__input-2::-moz-placeholder {
  color: #6f6f6f;
}
.header__input:-ms-input-placeholder, .header__input-2:-ms-input-placeholder {
  color: #6f6f6f;
}
.header__input::-ms-input-placeholder, .header__input-2::-ms-input-placeholder {
  color: #6f6f6f;
}
.header__input::placeholder,
.header__input-2::placeholder {
  color: #6f6f6f;
}

.header__btn-search {
  width: 76px;
  max-width: 100%;
  background: #fd8223;
  border-radius: 0 0.3125em 0.3125em 0;
  margin-left: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__btn-search:hover {
  -webkit-filter: brightness(0.97);
          filter: brightness(0.97);
}

.header__btn {
  background: none;
  font-weight: 700;
  font-size: 1.25em;
  color: rgba(111, 111, 111, 0.7);
}
.header__btn img {
  width: 100%;
  height: 100%;
}

.header__btn + .header__btn {
  margin-left: 10px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__img {
  margin-right: 10px;
}

.header__btn-loop,
.header__img {
  width: 26px;
  height: 23px;
}

.header__link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.header__item + .header__item {
  margin-left: 25px;
}

.catalog-icon {
  width: 18px;
  height: 12px;
  position: relative;
  margin-right: 5px;
  pointer-events: none;
}

.catalog-icon__line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 1px;
}

.catalog-icon__line-1 {
  top: 0;
}

.catalog-icon__line-2,
.catalog-icon__line-3 {
  width: 80%;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.catalog-icon__line-4 {
  top: 10px;
  width: 60%;
  right: 0;
}

.catalog-icon.open .catalog-icon__line-1,
.catalog-icon.open .catalog-icon__line-4 {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  width: 100%;
}
.catalog-icon.open .catalog-icon__line-2 {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  width: 100%;
}
.catalog-icon.open .catalog-icon__line-3 {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  width: 100%;
}

.main__menu {
  padding: 10px 0;
}

.main__list {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 54px;
  width: 100%;
}

.main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 20px 15px;
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.main__item:hover {
  background-color: #fff;
}
.main__item:hover .main__link {
  color: #090b0d;
}
.main__item:hover .drop-menu {
  visibility: visible;
  pointer-events: all;
  max-height: 500px;
  padding-bottom: 40px;
  z-index: 100;
}

.main__list::-webkit-scrollbar {
  display: none;
}

.main__item-btn {
  display: none;
}

.main__btn {
  background: none;
  color: #6f6f6f;
  white-space: nowrap;
  font-size: 14px;
  position: relative;
  padding: 20px 15px;
  display: none;
}
.main__btn::after {
  content: "";
  width: 12px;
  height: 12px;
  top: 45%;
  background-image: url("../img/icons/arrow_menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin-left: 5px;
}

.main__link,
.main__item {
  color: #6f6f6f;
  white-space: nowrap;
  font-size: 14px;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.main__menu-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  top: 50px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
  z-index: 1;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.0784313725);
  padding: 20px 20px 0 20px;
  visibility: hidden;
  pointer-events: none;
  height: auto;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.drop-menu__content-text {
  font-size: 14px;
  white-space: normal;
  line-height: 1;
  font-weight: 500;
  color: #090b0d;
  text-align: center;
  margin-top: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.drop-menu__content-text:hover {
  color: #fd8223;
}

.drop-menu__side {
  width: 100%;
  max-width: 150px;
  margin-right: 70px;
  height: 100%;
}

.drop-menu__item {
  height: 40px;
}

.drop-menu__link {
  display: block;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  color: #090b0d;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.drop-menu__link:hover {
  color: #fd8223;
}

.drop-menu__content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, 111px);
  grid-auto-rows: 111px;
  grid-gap: 70px 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
  padding-bottom: 40px;
}
.drop-menu__content::-webkit-scrollbar {
  display: none;
}

.drop-menu__content-item:hover .drop-menu__content-img {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.drop-menu__content-link {
  display: block;
  width: 100%;
  height: 100%;
}

.drop-menu__content-img {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.info {
  display: none;
}

.slider,
.slider2,
.instruction__slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.instruction__slider {
  max-width: 915px;
  max-height: 700px;
  margin: 0 auto;
}

.slider__img,
.instruction__slider-img {
  width: 100%;
  height: auto;
}

.slider-line,
.slider-line2,
.instruction__slider-line {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  touch-action: auto;
  -ms-touch-action: auto;
  width: 100%;
  max-height: 716px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.button__slider {
  position: absolute;
  top: 50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: 35%;
}

.slider-prev {
  left: 20px;
  background-image: url("../img/icons/prev.svg");
}

.slider-next {
  right: 20px;
  background-image: url("../img/icons/next.svg");
}

.dots-block,
.dots-block2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 30px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.dots-item,
.dots-item2 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #6f6f6f;
  border: 1px solid #6f6f6f;
}

.dots-item + .dots-item,
.dots-item2 + .dots-item2 {
  margin-left: 5px;
}

.dots-item.active,
.dots-item2.active {
  background: rgb(255, 255, 255);
}

.instruction__button-slider {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.instruction__button-slider img {
  -o-object-fit: cover;
     object-fit: cover;
}

.instruction__slider {
  margin-bottom: 65px;
}

.instruction__slider-prev {
  left: 20px;
}
.instruction__slider-prev img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.instruction__slider-next {
  right: 20px;
}

.instruction__dots-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.instruction__dots-item {
  margin: 0 10px;
  width: 15px;
  height: 15px;
  color: #6f6f6f;
}

.instruction__dots-item.active {
  color: #fd8223;
  text-decoration: underline;
}

.categories__inner {
  padding: 140px 0 85px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(160px, 420px) 70px minmax(160px, 420px) 70px minmax(160px, 420px);
  grid-template-columns: repeat(3, minmax(160px, 420px));
  grid-auto-rows: 222px;
  grid-auto-columns: minmax(160px, 420px);
  grid-gap: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories__item {
  background-color: #fff;
  display: block;
  color: #000;
  border-radius: 10px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.categories__item:hover {
  -webkit-filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
}
.categories__item:hover .categories__title {
  padding-left: 40px;
}
.categories__item:hover .categories__img {
  right: -40%;
}

.catalog-3 {
  background-color: #fd8223;
  display: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.catalog-3 .categories__title {
  color: #fff;
}

.categories__img {
  position: absolute;
  width: 500px;
  top: 50%;
  right: -50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 200px;
}

.categories__title {
  position: absolute;
  font-size: 28px;
  padding: 25px 0 0 30px;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__link {
  font-size: 28px;
  color: #6f6f6f;
  position: relative;
}
.title__link:hover {
  text-decoration: underline;
}
.title__link:hover::after {
  margin-left: 20px;
}
.title__link::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 15px;
  background-size: contain;
  background-image: url("../img/icons/arrow_title.svg");
  background-repeat: no-repeat;
  background-position: center center;
  top: 50%;
  -webkit-transform: translate(0, -40%);
          transform: translate(0, -40%);
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.title__img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 20px;
}

.popular__inner {
  padding-bottom: 85px;
}

.popular__title,
.new-products__title {
  margin-bottom: 30px;
}

.card-title-link {
  color: #090b0d;
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.card-title-link:hover {
  text-decoration: underline;
}
.card-title-link span {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 256px);
  grid-auto-rows: 460px;
  grid-gap: 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card__wrapper {
  padding: 0 10px 4px 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 100%;
}

.card-rating,
.card-title {
  display: block;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
.card:hover {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.favourites {
  position: absolute;
  background: transparent;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.favorites-img {
  width: 26px;
  height: 23px;
  max-width: 100%;
  max-height: 100%;
}

.sale__card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 327px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 17px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card-rating {
  color: #090b0d;
  padding-left: 32px;
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 17px;
}
.card-rating::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: url("../img/icons/star.svg");
}

.card-title {
  max-width: 100%;
  color: #090b0d;
  font-size: 20px;
  line-height: 130%;
}

.card-new-price {
  color: #090b0d;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
}

.price__wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.card-old-price {
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #6f6f6f;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.button-show {
  width: 700px;
  max-width: 100%;
  padding: 20px;
  font-size: 18px;
  color: #fff;
  background: rgba(253, 130, 35, 0.9);
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  margin: 50px auto 50px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.button-show:hover {
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

.button-show-link,
.button-show-link-2 {
  width: 700px;
  max-width: 100%;
  padding: 20px;
  font-size: 18px;
  color: #fff;
  background: rgba(253, 130, 35, 0.9);
  border-radius: 10px;
  margin: 0 auto;
  display: none;
  margin: 50px auto 50px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-align: center;
}
.button-show-link:hover,
.button-show-link-2:hover {
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

.footer {
  background-color: #090b0d;
  padding: 34px 0;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  max-width: 200px;
}

.footer__list + .footer__list {
  margin-left: 80px;
}

.footer__phone,
.footer__email,
.footer__address {
  display: block;
  color: #fff;
  font-size: 14px;
}

.footer__contacts {
  max-width: 365px;
}

.footer__address {
  line-height: 23px;
  margin-bottom: 20px;
}

.footer__phone {
  margin-bottom: 20px;
}

.footer__item,
.footer__link {
  font-size: 14px;
}

.footer__item,
.footer__copyright {
  color: #fff;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
}
.footer__link:hover {
  text-decoration: underline;
}

.footer__item + .footer__item {
  margin-top: 20px;
}

.footer__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 93px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-item + .footer__social-item {
  margin-left: 15px;
}

.footer__social-img {
  width: 24px;
  height: 24px;
}

.hide {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
          clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  pointer-events: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  top: -100%;
}

.show {
  visibility: visible;
  opacity: 1;
  -webkit-clip-path: none;
          clip-path: none;
  position: static;
  pointer-events: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  top: 0%;
}

.scroll {
  background-color: #fd8223;
  border-radius: 50%;
  padding: 26px 18px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: fixed;
  right: 10px;
  bottom: -100%;
  visibility: hidden;
  z-index: 10;
  height: 69px;
  width: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}
.scroll:hover {
  -webkit-filter: brightness(0.97);
          filter: brightness(0.97);
}

.scroll__img {
  width: 33px;
  height: 17px;
  max-width: 100%;
  max-height: 100%;
}

.scroll_active {
  bottom: 10px;
  visibility: visible;
}

.catalog__background {
  overflow: hidden;
  position: absolute;
  top: 130px;
  width: 100%;
  z-index: 800;
  background-color: #fff;
  -webkit-box-shadow: 0px 30px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 30px 25px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.catalog__background.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.modal__catalog {
  width: 327px;
  z-index: 800;
  color: #090b0d;
  width: 100%;
  background: #fff;
  visibility: hidden;
  height: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.modal__catalog.active {
  visibility: visible;
  height: 100%;
}

.modal__wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  display: -ms-grid;
  display: grid;
  z-index: 800;
  background: #fff;
  -ms-grid-columns: 328px 1fr;
  grid-template-columns: 328px 1fr;
  position: relative;
}

.catalog__list {
  max-width: 327px;
}

.catalog__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.link-1.active,
.link-2.active,
.link-3.active,
.link-4.active,
.link-5.active,
.link-6.active,
.link-7.active,
.link-8.active,
.link-9.active,
.link-10.active,
.link-11.active,
.link-12.active,
.link-13.active,
.link-14.active,
.link-15.active,
.link-16.active,
.link-17.active,
.link-18.active,
.link-19.active,
.link-20.active,
.link-21.active,
.link-22.active,
.link-23.active,
.link-24.active,
.link-25.active {
  background-color: #f4f4f4;
  border-radius: 3px 0 0 3px;
}
.link-1.active .catalog__title,
.link-2.active .catalog__title,
.link-3.active .catalog__title,
.link-4.active .catalog__title,
.link-5.active .catalog__title,
.link-6.active .catalog__title,
.link-7.active .catalog__title,
.link-8.active .catalog__title,
.link-9.active .catalog__title,
.link-10.active .catalog__title,
.link-11.active .catalog__title,
.link-12.active .catalog__title,
.link-13.active .catalog__title,
.link-14.active .catalog__title,
.link-15.active .catalog__title,
.link-16.active .catalog__title,
.link-17.active .catalog__title,
.link-18.active .catalog__title,
.link-19.active .catalog__title,
.link-20.active .catalog__title,
.link-21.active .catalog__title,
.link-22.active .catalog__title,
.link-23.active .catalog__title,
.link-24.active .catalog__title,
.link-25.active .catalog__title {
  color: #fd8223;
}

.catalog__item-right {
  margin-left: auto;
  margin-right: 35px;
}

.catalog__title {
  margin-left: 18px;
  color: #090b0d;
  font-weight: 500;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.modal__points {
  display: block;
  border-right: 1px solid #cccccc;
  height: 100%;
  padding: 30px 0 30px 10px;
}

.catalog__item + .catalog__item {
  margin-top: 25px;
}

.catalog__item-left,
.catalog__item-right {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__item-left {
  margin-left: 5px;
}
.catalog__item-left img {
  width: 22px;
  height: 22px;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-categories {
  padding: 30px 0 30px 10px;
  margin-left: 30px;
  display: none;
}

.main-categories.active {
  display: block;
}

.main-categorise__title {
  display: inline-block;
  font-size: 16px;
  color: #090b0d;
  margin-top: 7px;
  position: relative;
}

.main-categories__img {
  margin-left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}

.child__categories {
  width: 100%;
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 87px;
     -moz-column-gap: 87px;
          column-gap: 87px;
}

.child-item {
  display: inline-block;
  margin-top: 40px;
  width: 100%;
}

.child-item__link {
  font-size: 16px;
  color: #090b0d;
  margin-bottom: 15px;
  display: inline-block;
  margin-bottom: 15px;
}

.child-item__text + .child-item__text {
  margin-top: 25px;
}

.child-item__text-link {
  color: #6f6f6f;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.child-item__text-link:hover {
  color: #fd8223;
}

.catalog__img.change {
  content: url("../img/icons/close__icon.svg");
  margin-right: 15px;
}

.child-item-show {
  color: #6f6f6f;
  background: none;
  font-size: 14px;
  margin-top: 25px;
  position: relative;
  display: none;
}
.child-item-show::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url("../img/icons/arrow_menu.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  right: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 5px;
}

.mobile-catalog__background,
.mobile-catalog__background-all {
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 9990;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  left: -100%;
  visibility: hidden;
}

#all {
  left: 100%;
}

#all.active {
  left: 0;
  visibility: visible;
}

.mobile-catalog__background.active {
  left: 0;
  visibility: visible;
}

.mobile-catalog__categories-right {
  width: 9px;
  height: 13px;
  max-width: 100%;
  max-height: 100%;
}

.mobile-catalog__modal {
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 30px 20px 20px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.mobile-catalog__modal::-webkit-scrollbar {
  display: none;
}

.mobile-catalog__close,
.mobile-catalog__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #090b0d;
  font-size: 14px;
  background: none;
}

.mobile-catalog__close-img {
  margin-right: 5px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  pointer-events: none;
}

.mobile-catalog__content {
  padding: 10px 0 70px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
}

.mobile-catalog__categories {
  background: none;
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #090b0d;
  background-color: #f4f4f4;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
}

.mobile-catalog__categories {
  margin-top: 20px;
}

.mobile-catalog__categories-left {
  margin-right: 10px;
  width: 22px;
  height: 15px;
  pointer-events: none;
  -o-object-fit: contain;
     object-fit: contain;
}

.mobile-catalog__categories-right {
  margin-left: auto;
}

.accordion__item {
  background-color: #f4f4f4;
  border-radius: 5px;
  margin-top: 20px;
}

.accordion__item-fix {
  background: none;
  margin-top: 0;
}
.accordion__item-fix .accordion__header {
  padding: 10px 10px 10px 30px;
  background: none;
}
.accordion__item-fix .accordion__content > a {
  padding-left: 40px;
}

.accordion__header,
.accordion__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  color: #212529;
  cursor: pointer;
}

.accordion__header::after,
.accordion__item-link::after {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 9px;
  height: 13px;
  margin-left: auto;
  background-image: url("../img/catalog/arrow.svg");
  background-repeat: no-repeat;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  content: "";
}

.accordion__item_show > .accordion__header::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.accordion__item > .accordion__item {
  border: 1px solid black;
}

.accordion__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}

.accordion__content > a {
  position: relative;
  display: block;
  color: #090b0d;
  text-decoration: none;
  padding: 25px 10px 25px 30px;
}
.accordion__content > a:last-child {
  border-radius: 0 0 5px 5px;
}

.accordion__item-fix .accordion__header {
  padding: 25px 10px 25px 30px;
}

.tree-link__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 15px 25px 15px;
}

.tree-link__item {
  display: inline-block;
  color: #fd8223;
  position: relative;
  margin-right: 20px;
}
.tree-link__item:hover {
  text-decoration: underline;
}

.tree-link__img {
  margin-left: 5px;
  width: 6px;
  height: 12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
  border-bottom: 1px solid #ccc;
}

.product-card__slider {
  width: 431px;
  height: 564px;
  max-height: 100%;
  overflow: hidden;
  border-radius: 15px;
  position: sticky;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  touch-action: auto;
  -ms-touch-action: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
}

.product-card__slider-line {
  width: 431px;
  max-height: 564px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.product-card__slider-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
}

.product-card__dots-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-card__dots {
  position: sticky;
  top: 0;
  margin-right: 10px;
  height: 562px;
  width: 100px;
  overflow-y: auto;
}
.product-card__dots::-webkit-scrollbar {
  display: none;
}

.product-card__dots-item {
  border-radius: 15px;
  background: #fff;
}

.product-card__dots-item + .product-card__dots-item {
  margin-top: 10px;
}

.product-card__dots-item.active {
  border: 1px solid #fd8223;
}

.product-card__button {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  top: 75%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.product-card__button img {
  width: 11px;
  height: 25px;
  max-width: 100%;
  max-height: 100%;
}
.product-card__button:hover {
  -webkit-filter: brightness(0.97);
          filter: brightness(0.97);
}

.product-card__wrapper-img-slide {
  width: 431px;
  height: 564px;
  max-height: 100%;
  position: relative;
}

.product-card__button-prev {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  left: 20px;
}

.product-card__button-next {
  right: 20px;
}

.product-card__top__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #6f6f6f;
}

.product-card__top-link {
  color: #6f6f6f;
  background: none;
}
.product-card__top-link:hover {
  text-decoration: underline;
}

.product-card__top__text-img {
  margin-right: 10px;
}

.product-card__top-link {
  margin-right: 10px;
}

.product-card__info {
  width: 50%;
}

.product-card__title {
  padding: 15px 0;
  font-size: 22px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}

.product-card__all-products {
  margin-bottom: 15px;
}
.product-card__all-products span {
  color: #fd8223;
}

.product-card__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  width: 145px;
  max-width: 100%;
  margin-right: 50px;
}

.counter-minus,
.counter-plus {
  width: 25%;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
}

.counter-result {
  width: 100%;
  height: 40px;
  text-align: center;
  background: none;
  font-size: 13px;
  color: #fd8223;
}
.counter-result::-webkit-input-placeholder {
  color: #fd8223;
}
.counter-result::-moz-placeholder {
  color: #fd8223;
}
.counter-result:-ms-input-placeholder {
  color: #fd8223;
}
.counter-result::-ms-input-placeholder {
  color: #fd8223;
}
.counter-result::placeholder {
  color: #fd8223;
}

.product-card__counter.focus {
  border: 1px solid #fd8223;
}

.product-card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
  width: 100%;
}

.counter__buy-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fd8223;
  margin: 30px 0 22px 0;
}
.counter__buy-info img {
  margin-right: 10px;
}

.product-card__price-text {
  margin-bottom: 10px;
  font-size: 20px;
}

.product-card__price-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.product-card__price-new,
.product-card__price-old {
  font-size: 25px;
}

.product-card__price-new {
  color: #fd8223;
  margin-right: 30px;
}

.product-card__price-old {
  color: #6f6f6f;
  text-decoration: line-through;
  margin-right: 15px;
}

.product-card__sale,
.product-card__liquidation {
  background: #fd8223;
  color: #fff;
  border-radius: 3px;
  padding: 3px;
}

.product-card__sale {
  margin-right: 5px;
}

.product-card__basket,
.product-card__buy {
  padding: 15px;
  max-width: 100%;
  background: #fd8223;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #fd8223;
  font-size: 16px;
  height: 50px;
}

.product-card__basket {
  white-space: nowrap;
  width: 290px;
  margin-right: 20px;
}

.product-card__buy {
  background: none;
  color: #6f6f6f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-card__heart {
  max-width: 25px;
  max-width: 25px;
  margin-right: 10px;
}

.product-card__number {
  color: #6f6f6f;
  margin: 10px 0 12px 0;
  font-size: 16px;
}

#number {
  font-weight: 700;
}

.product-card__location {
  color: #6f6f6f;
  margin-bottom: 20px;
}

.product-card__human {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6f6f6f;
  margin-bottom: 30px;
}
.product-card__human a {
  margin-left: 5px;
  color: #fd8223;
}
.product-card__human a:hover {
  text-decoration: underline;
}

.product-card__delivery {
  color: #6f6f6f;
  margin-bottom: 20px;
}

.product-card__color {
  padding: 0 0 20px 0;
  color: #6f6f6f;
}

.color-card {
  color: #fd8223;
  font-weight: 700;
}

.product-card__button-cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 75px);
  -ms-grid-rows: 100px;
  grid-template-rows: 100px;
  grid-auto-rows: 100px;
  grid-gap: 15px;
  margin-bottom: 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.product-card__button-cards-item {
  border: 1px solid rgba(111, 111, 111, 0.2);
  border-radius: 15px;
}
.product-card__button-cards-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 15px;
}

.disabled {
  position: relative;
  overflow: hidden;
  border: 1px dashed rgba(111, 111, 111, 0.2);
}
.disabled img {
  opacity: 30%;
}
.disabled::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 3px;
  background: #6f6f6f;
  top: 46px;
  left: -25px;
  opacity: 30%;
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

.target {
  border: 3px solid #fd8223;
}

.product-card__about span {
  display: inline-block;
  margin-bottom: 20px;
}

.product-card__list-item + .product-card__list-item {
  margin-top: 20px;
}

.point__item-btn {
  font-size: 14px;
  background: none;
  height: 66px;
  white-space: nowrap;
}

.points__list {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
}
.points__list::-webkit-scrollbar {
  display: none;
}

.points__inner {
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}

.point__wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.points__item + .points__item {
  margin-left: 50px;
}

.points__item.active {
  position: relative;
}
.points__item.active .point__item-btn {
  color: #fd8223;
}
.points__item.active:before {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #fd8223;
  bottom: 0px;
  display: block;
}

.description__wrapper {
  width: 60%;
}

iframe {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}

.description__img {
  width: 100%;
}

.description__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

.compilation__inner {
  padding-bottom: 100px;
}

.compilation__title {
  font-size: 22px;
  margin-bottom: 50px;
}

.compilation__link {
  color: #fd8223;
}
.compilation__link:hover {
  text-decoration: underline;
}

.description {
  display: none;
}

.description.active {
  display: block;
}

.feedback,
.applicability,
.instruction {
  display: none;
}

.feedback__inner,
.applicability__inner,
.instruction__inner {
  padding-bottom: 100px;
}

.feedback.active,
.instruction.active,
.applicability.active {
  display: block;
}

.feedback__title {
  font-size: 22px;
}
.feedback__title span {
  color: #fd8223;
}

.text {
  display: none;
}

.img-zoom-result {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 250%;
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 999;
  background-position: 50% 50%;
  border-radius: 0.3125em;
  display: none;
  left: 0;
  right: 0;
  pointer-events: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.popup .product-card__slider {
  width: 100%;
  height: 100%;
  position: static;
}
.popup .product-card__slider-line,
.popup .product-card__wrapper-img-slide {
  height: 100%;
  min-height: 100%;
  width: 100%;
}
.popup .product-card__dots {
  position: static;
  height: 15%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5647058824);
}
.popup .product-card__dots .product-card__dots-item {
  min-width: 100px;
  max-width: 100px;
  height: 100%;
  margin: 0;
  border: 1px solid #f4f4f4;
}
.popup .product-card__dots .product-card__dots-item + .product-card__dots-item {
  margin-left: 10px;
}
.popup .product-card__dots .product-card__dots-item.active {
  border: 1px solid #fd8223;
}
.popup .product-card__button {
  top: 50%;
  background-color: rgba(255, 255, 255, 0.5647058824);
}

.popup-close {
  position: absolute;
  top: 20px;
  background: none;
  right: 20px;
  display: none;
  color: #fd8223;
  width: 30px;
  height: 30px;
  z-index: 9999;
}
.popup-close img {
  width: 100%;
}

.content {
  display: none;
}

.accordion__content-link,
.accordion__header,
.mobile-catalog__categories,
.mobile-catalog__close,
.mobile-catalog__back {
  font-weight: 600;
  color: #6f6f6f;
  text-transform: uppercase;
}

.mobile-catalog__back,
.mobile-catalog__close {
  color: #090b0d;
}

.applicability.active {
  display: block;
}

.instruction__inner {
  text-align: center;
}

.instruction__switches {
  margin-bottom: 40px;
}

.instruction__btn {
  font-size: 20px;
  height: 30px;
  max-width: 100%;
}

.instruction__btn + .instruction__btn {
  margin-left: 60px;
}

.instruction__btn.active {
  border-bottom: 1px solid #fd8223;
  color: #fd8223;
}

.comment {
  font-size: 20px;
  color: #6f6f6f;
}

.comment__link {
  color: #fd8223;
  text-decoration: underline;
}

.instruction__slider,
.instruction__video {
  display: none;
}

.instruction__slider.active,
.instruction__video.active {
  display: block;
}

@media (max-width: 1920px) {
  .categories__title {
    font-size: calc(16px + 12 * (100vw - 480px) / 1440);
  }

  .catalog {
    margin: 0 10px;
  }

  .categories__inner {
    padding-top: calc(0px + 140 * (100vw - 320px) / 1600);
    padding-bottom: calc(30px + 55 * (100vw - 320px) / 1600);
    grid-row-gap: calc(20px + 50 * (100vw - 480px) / 1440);
    grid-column-gap: calc(20px + 50 * (100vw - 480px) / 1440);
  }
  .categories__inner::-webkit-scrollbar {
    display: none;
  }

  .popular__inner,
.new-products__inner,
.sale__inner {
    padding-bottom: calc(30px + 55 * (100vw - 320px) / 1600);
  }

  .drop-menu__content {
    grid-column-gap: calc(30px + 50 * (100vw - 480px) / 1440);
    grid-row-gap: calc(40px + 40 * (100vw - 480px) / 1440);
  }

  .title__link {
    font-size: calc(20px + 8 * (100vw - 480px) / 1440);
  }

  .button__slider {
    width: calc(30px + 40 * (100vw - 480px) / 1440);
    height: calc(30px + 40 * (100vw - 480px) / 1440);
  }

  .dots-block {
    bottom: calc(10px + 20 * (100vw - 480px) / 1440);
  }
}
@media (max-width: 1400px) {
  .child__categories {
    width: 100%;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 87px;
       -moz-column-gap: 87px;
            column-gap: 87px;
  }
}
@media (max-width: 1362px) {
  .main__btn {
    display: block;
  }
}
@media (max-width: 1277px) {
  .slider__wrapper {
    margin-bottom: 30px;
  }

  .product-card__slider-img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .product-card__slider,
.product-card__wrapper-img-slide,
.product-card__slider-img {
    width: calc(241px + 190 * (100vw - 768px) / 509);
    height: calc(321px + 243 * (100vw - 768px) / 509);
  }

  .product-card__dots {
    width: calc(50px + 50 * (100vw - 768px) / 509);
    height: calc(321px + 243 * (100vw - 768px) / 509);
  }
}
@media (max-width: 1250px) {
  .categories__img {
    height: 150px;
    right: -60%;
  }

  .categories__item:hover .categories__img {
    right: -50%;
  }
}
@media (max-width: 1200px) {
  .header__nav {
    margin-left: auto;
  }

  .main__menu .container {
    position: relative;
  }

  .title__link::after {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@media (max-width: 1145px) {
  .header__text {
    display: none;
  }

  .header__search {
    width: 60%;
  }

  .header__input {
    width: 80%;
  }
}
@media (max-width: 1174px) {
  .categories__inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: auto;
    grid-auto-flow: column;
  }

  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .footer__contacts {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .footer__nav {
    width: 100%;
  }
}
@media (max-width: 1150px) {
  .categories__img {
    height: 110px;
    right: -60%;
  }

  .categories__item:hover .categories__img {
    right: -50%;
  }
}
@media (max-width: 1110px) {
  .child__categories {
    width: 100%;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 87px;
       -moz-column-gap: 87px;
            column-gap: 87px;
  }
}
@media (max-width: 1070px) {
  .categories__img {
    height: 120px;
    right: -75%;
  }

  .categories__item:hover .categories__img {
    right: -65%;
  }
}
@media (max-width: 959px) {
  .bottom-menu {
    display: block;
  }

  .header__nav {
    display: none;
  }

  .header__search {
    margin-right: 0;
  }

  .scroll_active {
    bottom: 70px;
    visibility: visible;
  }

  .categories__img {
    height: 120px;
    right: -80%;
  }

  .categories__item:hover .categories__img {
    right: -70%;
  }

  .header__search {
    width: 80%;
  }

  .scroll {
    padding: 9px 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
    width: 40px;
  }
  .scroll img {
    width: 50%;
    height: 50%;
  }

  .catalog-2-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .catalog {
    display: none;
  }
}
@media (max-width: 900px) {
  .modal__wrapper {
    -ms-grid-columns: calc(220px + 128 * (100vw - 480px) / 420) 1fr;
    grid-template-columns: calc(220px + 128 * (100vw - 480px) / 420) 1fr;
  }

  .main-categories {
    margin-left: calc(0px + 30 * (100vw - 480px) / 420);
  }

  .child__categories {
    width: 100%;
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 87px;
       -moz-column-gap: 87px;
            column-gap: 87px;
  }

  .header__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__search {
    width: 87%;
  }

  .header__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }

  .region-2 {
    display: block;
  }

  .header__inner {
    padding: 20px 0;
  }

  .nav-top {
    display: none;
  }

  .catalog {
    margin: 0 10px 0 0;
  }
}
@media (max-width: 800px) {
  .categories__img {
    height: 100px;
    right: -100%;
  }

  .categories__item:hover .categories__img {
    right: -90%;
  }
}
@media (max-width: 767px) {
  .slider__wrapper {
    width: 100%;
    height: 100%;
    max-height: 685px;
  }

  .product-card__info {
    width: 100%;
  }

  .product-card__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .product-card__slider,
.product-card__wrapper-img-slide,
.product-card__slider-line {
    width: 100%;
    height: 100%;
    max-height: 685px;
  }

  .product-card__dots {
    width: 15%;
    height: 685px;
  }
}
@media (max-width: 638px) {
  .product-card__dots {
    height: calc(331px + 360 * (100vw - 321px) / 317);
  }

  .product-card__dots-item {
    height: calc(60px + 38 * (100vw - 321px) / 317);
  }
}
@media (max-width: 670px) {
  .header__input::-webkit-input-placeholder {
    font-size: calc(12px + 2 * (100vw - 480px) / 190);
  }
  .header__input::-moz-placeholder {
    font-size: calc(12px + 2 * (100vw - 480px) / 190);
  }
  .header__input:-ms-input-placeholder {
    font-size: calc(12px + 2 * (100vw - 480px) / 190);
  }
  .header__input::-ms-input-placeholder {
    font-size: calc(12px + 2 * (100vw - 480px) / 190);
  }
  .header__input::placeholder {
    font-size: calc(12px + 2 * (100vw - 480px) / 190);
  }

  .categories__img {
    height: 100px;
    right: -120%;
  }

  .categories__item:hover .categories__img {
    right: -110%;
  }
}
@media (max-width: 623px) {
  .product-card__title,
.feedback__title,
.compilation__title {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  .categories__img {
    height: 90px;
    right: -130%;
    -webkit-transform: translate(0%, -30%);
            transform: translate(0%, -30%);
  }

  .categories__item:hover .categories__img {
    right: -120%;
  }
  .categories__item:hover .categories__title {
    padding-left: 30px;
  }
}
@media (max-width: 550px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__nav .footer__list {
    margin: 0;
    text-align: center;
  }
  .footer__nav .footer__list + .footer__list {
    margin-top: 50px;
  }

  .footer__contacts {
    text-align: center;
    margin-bottom: 50px;
  }

  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__social {
    margin-bottom: 50px;
  }
}
@media (max-width: 479px) {
  .voice {
    display: block;
  }

  .search {
    display: block;
  }

  .header__search {
    display: none;
    border: none;
  }

  .header__input {
    display: none;
  }

  .catalog {
    display: none;
  }

  .header__btn-search {
    display: none;
  }

  .vin {
    font-size: calc(14px + 6 * (100vw - 320px) / 159);
  }

  .header__search-2 .header__btn-img {
    width: calc(20px + 6 * (100vw - 320px) / 159);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .logo__img {
    width: calc(100px + 65 * (100vw - 320px) / 159);
  }

  .header__wrapper {
    margin: 0;
  }

  .main__menu {
    display: none;
  }

  .slider,
.info {
    padding: 45px 0;
  }

  .info__slider {
    padding-top: 0;
  }

  .slick-dots {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 30px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .slick-dots button {
    font-size: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #6f6f6f;
  }
  .slick-dots li + li {
    margin-left: 5px;
  }
  .slick-dots .slick-active button {
    background: #6f6f6f;
  }

  .slider__item {
    margin-right: 20px;
  }

  .categories__item:hover {
    -webkit-filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
  }

  .catalog-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .title__link {
    font-size: calc(14px + 6 * (100vw - 320px) / 159);
  }

  .cards {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-x: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-auto-flow: column;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(160px, 256px) 30px minmax(160px, 256px) 30px minmax(160px, 256px) 30px minmax(160px, 256px) 30px minmax(160px, 256px);
    grid-template-columns: repeat(5, minmax(160px, 256px));
    grid-auto-rows: calc(270px + 10 * (100vw - 320px) / 159);
    grid-gap: 30px;
    grid-auto-columns: minmax(160px, 256px);
  }
  .cards::-webkit-scrollbar {
    display: none;
  }

  .card-img {
    height: 100%;
    width: 70%;
  }

  .card-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card-title-link span {
    font-size: calc(12px + 2 * (100vw - 320px) / 159);
  }

  .price__wrapper {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }

  .card-new-price,
.card-old-price {
    font-size: calc(12px + 2 * (100vw - 320px) / 159);
  }

  .card-new-price {
    margin-right: 35px;
  }

  .favourites {
    display: none;
  }

  .card-rating {
    font-size: calc(12px + 2 * (100vw - 320px) / 159);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: calc(25px + 7 * (100vw - 320px) / 159);
  }
  .card-rating::before {
    background-size: calc(15px + 5 * (100vw - 320px) / 159);
    background-position: center;
    background-repeat: no-repeat;
  }

  .card__wrapper {
    padding-bottom: 10px;
  }

  .card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }
  .card:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .title__link:hover::after {
    margin-left: calc(10px + 10 * (100vw - 320px) / 159);
  }

  .info {
    display: block;
  }

  .cards,
.categories__inner {
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }

  .info__inner {
    padding-bottom: calc(30px + 5 * (100vw - 320px) / 159);
  }

  .footer__contacts {
    width: 100%;
  }

  .footer__address,
.footer__phone,
.footer__email,
.footer__link,
.footer__item-title,
.footer__copyright {
    text-align: center;
    max-width: 100%;
    font-size: calc(12px + 2 * (100vw - 320px) / 159);
  }

  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }

  .footer__logo {
    max-width: 100%;
    text-align: center;
  }

  .footer__bottom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }

  .footer__copyright {
    max-width: 250px;
    margin: 0;
  }

  .footer__list,
.footer__item,
.footer__item-title {
    width: 100%;
    text-align: center;
  }

  .footer__address,
.footer__phone {
    margin-bottom: calc(10px + 10 * (100vw - 320px) / 159);
  }

  .footer__contacts,
.footer__social {
    margin-bottom: calc(20px + 30 * (100vw - 320px) / 159);
  }

  .footer__item + .footer__item {
    margin-top: calc(10px + 10 * (100vw - 320px) / 159);
  }

  .footer__nav .footer__list + .footer__list {
    margin-top: calc(20px + 30 * (100vw - 320px) / 159);
  }

  .footer__wrapper {
    margin-bottom: calc(20px + 10 * (100vw - 320px) / 159);
  }

  .button-show {
    display: none;
  }

  .card-title-link span {
    line-height: 18px;
  }

  .categories__title {
    font-size: calc(14px + 6 * (100vw - 320px) / 159);
  }

  .slider-line {
    margin-left: -30px;
  }

  .slider__img {
    padding-left: 10px;
  }

  .dots-block {
    bottom: 25px;
  }

  .button__slider,
.instruction__button-slider {
    display: none;
  }

  .new-products__inner,
.sale__inner {
    padding-bottom: 30px;
  }

  .categories__img {
    height: 100px;
    right: -155%;
    -webkit-transform: translate(0%, -30%);
            transform: translate(0%, -30%);
  }

  .car {
    right: -160%;
  }

  .electronic {
    right: -145%;
  }

  .categories__title {
    padding-left: 20px;
    padding-top: 30px;
  }

  .categories__item:hover .categories__img {
    right: -140%;
  }
  .categories__item:hover .electronic {
    right: -125%;
  }

  .tree-link__inner {
    padding-top: 25px;
  }

  .product-card__title,
.feedback__title,
.compilation__title {
    font-size: 22px;
  }

  .point__item-btn {
    font-size: 16px;
  }

  .slider__wrapper {
    width: 100%;
  }

  .description__wrapper {
    width: 100%;
  }

  .description__inner,
.compilation__inner {
    padding-bottom: 40px;
  }

  .compilation__title {
    margin-bottom: 40px;
  }

  .title__link:hover::after {
    margin-left: 10px;
  }
  .title__link::after {
    height: 8px;
    margin-left: 5px;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }

  .popup-slider__btn {
    display: none;
  }

  .catalog-2-header {
    display: none;
  }

  .points__item + .points__item {
    margin-left: calc(25px + 25 * (100vw - 320px) / 159);
  }

  .instruction__btn,
.comment {
    font-size: calc(14px + 6 * (100vw - 320px) / 159);
  }

  .instruction__btn + .instruction__btn {
    margin-left: calc(20px + 40 * (100vw - 320px) / 159);
  }
}
@media (max-width: 360px) {
  .product-card__info .product-card__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .product-card__price-new,
.product-card__price-old {
    font-size: 18px;
  }

  .counter__buy-info {
    font-size: 11px;
  }

  .product-card__basket,
.product-card__buy {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 320px) {
  .product-card__dots {
    display: none;
  }
}