<!-- главное меню каталога -->
<div class="mobile-catalog__background mobile-background">
	<div class="mobile-catalog__modal">
		<div class="mobile-catalog__container">
			<div class="mobile-catalog__top">
				<button class="mobile-catalog__close">
					<img class="mobile-catalog__close-img" src="img/icons/arrow_menu.svg" alt="arrow back">
					Категории
				</button>
			</div>
			<div class="mobile-catalog__content">
				<button class="mobile-catalog__categories mobile-btn-1">
					<img class="mobile-catalog__categories-left" src="img/catalog/car__icon.svg" alt="car icon">
					Авто
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-2">
					<img class="mobile-catalog__categories-left" src="img/catalog/moto__icon.svg" alt="moto icon">
					Мотоциклы
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-3">
					<img class="mobile-catalog__categories-left" src="img/catalog/snowcar__icon.svg" alt="snowmobile icon">
					Снегоходы
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-4">
					<img class="mobile-catalog__categories-left" src="img/catalog/atv__icon.svg" alt="atv icon">
					Квадроциклы и мотовездеходы
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-5">
					<img class="mobile-catalog__categories-left" src="img/catalog/scooter__icon.svg" alt="scooter icon">
					Скутеры
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-6">
					<img class="mobile-catalog__categories-left" src="img/catalog/bike__icon.svg" alt="bike icon">
					Вело
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-7">
					<img class="mobile-catalog__categories-left" src="img/catalog/electronic-car__icon.svg" alt="electronic-car icon">
					Электротранспорт
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-8">
					<img class="mobile-catalog__categories-left" src="img/catalog/commercial__icon.svg" alt="commercial icon">
					Коммерческий
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-9">
					<img class="mobile-catalog__categories-left" src="img/catalog/water-car__icon.svg" alt="water-car icon">
					Водный транспорт
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-10">
					<img class="mobile-catalog__categories-left" src="img/catalog/excavator__icon.svg" alt="special equipment icon">
					Спецтехника
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-11">
					<img class="mobile-catalog__categories-left" src="img/catalog/mower__icon.svg" alt="agricultural machinery icon">
					Сельхозтехника
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-12">
					<img class="mobile-catalog__categories-left" src="img/catalog/electronic__icon.svg" alt="electronic icon">
					Электроника
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-13">
					<img class="mobile-catalog__categories-left" src="img/catalog/household__icon.svg" alt="household icon">
					Бытовая техника
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-14">
					<img class="mobile-catalog__categories-left" src="img/catalog/electrics__icon.svg" alt="electrics icon">
					Электрика
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-15">
					<img class="mobile-catalog__categories-left" src="img/catalog/instruments__icon.svg" alt="instruments icon">
					Инструмент
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-16">
					<img class="mobile-catalog__categories-left" src="img/catalog/bolt__icon.svg" alt="hardware icon">
					Метизы
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-17">
					<img class="mobile-catalog__categories-left" src="img/catalog/RTI__icon.svg" alt="rti icon">
					РТИ
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-18">
					<img class="mobile-catalog__categories-left" src="img/catalog/sport__icon.svg" alt="sport icon">
					Хобби, спорт и развлечения
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-19">
					<img class="mobile-catalog__categories-left" src="img/catalog/equipment__icon.svg" alt="equipment icon">
					Оборудование
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-20">
					<img class="mobile-catalog__categories-left" src="img/catalog/robot__icon.svg" alt="robot icon">
					Робототехника
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-21">
					<img class="mobile-catalog__categories-left" src="img/catalog/glasses__icon.svg" alt="glasses icon">
					Оптика
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-22">
					<img class="mobile-catalog__categories-left" src="img/catalog/moto-head__icon.svg" alt="motorsport icon">
					Авто мото спорт
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-23">
					<img class="mobile-catalog__categories-left" src="img/catalog/helicopter__icon.svg" alt="aviation icon">
					Авиация
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-24">
					<img class="mobile-catalog__categories-left" src="img/catalog/books__icon.svg" alt="books icon">
					Литература и обучение
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
				<button class="mobile-catalog__categories mobile-btn-25">
					<img class="mobile-catalog__categories-left" src="img/catalog/machine__icon.svg" alt="machine icon">
					Станки
					<img class="mobile-catalog__categories-right" src="img/catalog/arrow.svg" alt="arrow right">
				</button>
			</div>
		</div>
	</div>
</div>
<!-- категория мотоциклы -->
<div class="mobile-catalog__background" id="all">
	<div class="mobile-catalog__modal">
		<div class="mobile-catalog__container">
			<div class="mobile-catalog__top">
				<button class="mobile-catalog__back">
					<img class="mobile-catalog__close-img" src="img/icons/arrow_menu.svg" alt="arrow back">
				</button>
			</div>
			<div class="mobile-catalog__content">
				<!-- аккордеон -->
				<div id="accordion" class="accordion">
					<!-- авто -->
					<div class="content1">
						<!-- запчасти -->
						<div class="accordion__item">
							<div class="accordion__header">
								Запчасти
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<!--  Двигатель -->
									<div class="accordion__item accordion__item-fix">
										<div class="accordion__header">
											Двигатель
										</div>
										<div class="accordion__body">
											<div class="accordion__content">
												<a class="accordion__content-link" href="#">ДВИГАТЕЛЬ</a>
												<a class="accordion__content-link" href="#">IGNITION COIL & SPARK PLUG / GLOW PLUG</a>
												<a class="accordion__content-link" href="#">БЛОК ЦИЛИНДРОВ</a>
												<a class="accordion__content-link" href="#">БЛОК ЦИЛИНДРОВ В СБОРЕ</a>
												<a class="accordion__content-link" href="#">ВОДЯНАЯ ПОМПА</a>
												<a class="accordion__content-link" href="#">ГЛУШИТЕЛЬ</a>
												<a class="accordion__content-link" href="#">ГОЛОВКА БЛОКА ЦИЛИНДРОВ</a>
												<a class="accordion__content-link" href="#">ДВИГАТЕЛЬ В СБОРЕ</a>
												<a class="accordion__content-link" href="#">КОЛЕНВАЛ И ЦИЛИНДРЫ</a>
												<a class="accordion__content-link" href="#">КОЛЛЕКТОР</a>
												<a class="accordion__content-link" href="#">КОМПЛЕКТ ПРОКЛАДОК ДВИГАТЕЛЯ</a>
												<a class="accordion__content-link" href="#">КРЕПЛЕНИЕ ДВИГАТЕЛЯ</a>
												<a class="accordion__content-link" href="#">КРЫШКА ГРМ, ЗАДНЯЯ ПЛАСТИНА</a>
												<a class="accordion__content-link" href="#">МАСЛЯНЫЙ НАСОС</a>
												<a class="accordion__content-link" href="#">МАСЛЯНЫЙ ФИЛЬТР</a>
												<a class="accordion__content-link" href="#">ПАТРУБКИ ВЕНТИЛЯЦИИ</a>
												<a class="accordion__content-link" href="#">РАДИАТОР И ПАТРУБКИ</a>
												<a class="accordion__content-link" href="#">РАСПРЕДВАЛ И КЛАПАНЫ, РЕМЕНЬ ГРМ</a>
												<a class="accordion__content-link" href="#">ТРУБКИ ВАККУУМНОЙ СИСТЕМЫ</a>
												<a class="accordion__content-link" href="#">ФИЛЬТР ВОЗДУШНЫЙ</a>
											</div>
										</div>
									</div>
									<!-- Трансмиссия -->
									<div class="accordion__item accordion__item-fix">
										<div class="accordion__header">
											Трансмиссия
										</div>
										<div class="accordion__body">
											<div class="accordion__content">
												<a class="accordion__content-link" href="#">Сцепление</a>
												<a class="accordion__content-link" href="#">Коробка передач</a>
												<a class="accordion__content-link" href="#">Мост передний ведущий</a>
												<a class="accordion__content-link" href="#">Мост задний</a>
												<a class="accordion__content-link" href="#">БЛОК ПЕРЕКЛЮЧЕНИЯ ПЕРЕДАЧ</a>
												<a class="accordion__content-link" href="#">ГЛАВНЫЙ ТОРМОЗНОЙ ЦИЛИНДР</a>
												<a class="accordion__content-link" href="#">ЗАДНИЕ ПРУЖИНЫ И АММОРТИЗАТОРЫ</a>
												<a class="accordion__content-link" href="#">ЗАДНЯЯ ОСЬ, СТУПИЦА, ТОРМОЗНЫЕ ДИСКИ И БАРАБАНЫ</a>
												<a class="accordion__content-link" href="#">КОЛЕСНЫЕ ДИСКИ, КОЛПАКИ</a>
												<a class="accordion__content-link" href="#">ПЕДАЛЬ ТОРМОЗА</a>
												<a class="accordion__content-link" href="#">ПЕРЕДНИЕ ПРИВОДНЫЕ ВАЛЫ</a>
												<a class="accordion__content-link" href="#">ПЕРЕДНИЕ ПРУЖИНЫ И АММОРТИЗАТОРЫ, СТАБИЛИЗАТОР</a>
												<a class="accordion__content-link" href="#">ПЕРЕДНИЙ РЫЧАГ, ПОВОРОТНЫЙ КУЛАК</a>
												<a class="accordion__content-link" href="#">ПЕРЕДНЯЯ ОСЬ, СТУПИЦА, ТОРМОЗНЫЕ ДИСКИ</a>
												<a class="accordion__content-link" href="#">РУЛЕВАЯ КОЛОНКА И ВАЛ</a>
												<a class="accordion__content-link" href="#">РУЛЕВАЯ РЕЙКА</a>
												<a class="accordion__content-link" href="#">РУЛЕВОЕ КОЛЕСО</a>
												<a class="accordion__content-link" href="#">СТОЯНОЧНЫЙ ТОРМОЗ</a>
												<a class="accordion__content-link" href="#">ТОРМОЗА ЗАДНИЕ ДИСКОВЫЕ - СУППОРТ, КОЛОДКИ</a>
												<a class="accordion__content-link" href="#">ТОРМОЗА ПЕРЕДНИЕ ДИСКОВЫЕ - СУППОРТ, КОЛОДКИ</a>
												<a class="accordion__content-link" href="#">ТРАНСМИССИЯ В СБОРЕ, ГИБРИДНЫЙ АВТОМОБИЛЬ</a>
												<a class="accordion__content-link" href="#">ТРУБКИ ТОРМОЗНОЙ СИСТЕМЫ, КРЕПЛЕНИЕ</a>
											</div>
										</div>
									</div>
									<!-- Ходовая часть -->
									<div class="accordion__item accordion__item-fix">
										<div class="accordion__header">
											Ходовая часть
										</div>
										<div class="accordion__body">
											<div class="accordion__content">
												<a class="accordion__content-link" href="#">Рама</a>
												<a class="accordion__content-link" href="#">Подвеска автомобиля</a>
												<a class="accordion__content-link" href="#">Колеса и ступицы</a>
											</div>
										</div>
									</div>
									<!-- Механизмы управления -->
									<div class="accordion__item accordion__item-fix">
										<div class="accordion__header">
											Механизмы управления
										</div>
										<div class="accordion__body">
											<div class="accordion__content">
												<a class="accordion__content-link" href="#">Управление рулевое</a>
												<a class="accordion__content-link" href="#">Тормоза</a>
											</div>
										</div>
									</div>
									<!-- Кузов -->
									<div class="accordion__item accordion__item-fix">
										<div class="accordion__header">
											Кузов
										</div>
										<div class="accordion__body">
											<div class="accordion__content">
												<a class="accordion__content-link" href="#">Детали основания кабины (Пол кузова)</a>
												<a class="accordion__content-link" href="#">Окно ветровое и заднее</a>
												<a class="accordion__content-link" href="#">Передок кабины</a>
												<a class="accordion__content-link" href="#">Боковина кузова</a>
												<a class="accordion__content-link" href="#">Задок кабины (задок кузова)</a>
												<a class="accordion__content-link" href="#">Дверь кабины (передняя)</a>
												<a class="accordion__content-link" href="#">Дверь задняя</a>
												<a class="accordion__content-link" href="#">Дверь задка кузова</a>
												<a class="accordion__content-link" href="#">Дверь сдвижная</a>
												<a class="accordion__content-link" href="#">Сиденье водителя</a>
												<a class="accordion__content-link" href="#">Отопление и вентиляция кабины</a>
												<a class="accordion__content-link" href="#">Принадлежности кабины</a>
												<a class="accordion__content-link" href="#">БАМПЕР ЗАДНИЙ</a>
												<a class="accordion__content-link" href="#">БАМПЕР ПЕРЕДНИЙ</a>
												<a class="accordion__content-link" href="#">БОКОВОЕ НЕОПУСКАЕМОЕ ОКНО</a>
												<a class="accordion__content-link" href="#">БОКОВЫЕ КОМПОНЕНТЫ КУЗОВА</a>
												<a class="accordion__content-link" href="#">БОКОВЫЕ КОМПОНЕНТЫ ПОЛА</a>
												<a class="accordion__content-link" href="#">БОКОВЫЕ МОЛДИНГИ</a>
												<a class="accordion__content-link" href="#">БРЫЗГОВИКИ, СПОЙЛЕРЫ</a>
												<a class="accordion__content-link" href="#">ВЕНТИЛЯЦИЯ КУЗОВА</a>
												<a class="accordion__content-link" href="#">ВЕТРОВОЕ СТЕКЛО, ПЕРЕДНЯ ПАНЕЛЬ</a>
												<a class="accordion__content-link" href="#">ВНУТРЕННЯ ОТДЕЛКА СТОЕК И ДВЕРНЫХ ПРОЕМОВ</a>
												<a class="accordion__content-link" href="#" >ДВЕРЬ БАГАЖНИКА - ЗАМКИ, РУЧКИ</a>
												<a class="accordion__content-link" href="#" >ДВЕРЬ БАГАЖНИКА - ПАНЕЛИ, СТЕКЛА</a>
												<a class="accordion__content-link" href="#" >ДВЕРЬ ЗАДНЯЯ - ЗАМКИ, РУЧКИ</a>
												<a class="accordion__content-link" href="#" >ДВЕРЬ ЗАДНЯЯ - ПАНЕЛИ, СТЕКЛА</a>
												<a class="accordion__content-link" href="#" >ДВЕРЬ ЗАДНЯЯ - СТЕКЛОПОДЪЕМНИК, ПЕТЛИ</a>
												<a class="accordion__content-link" href="#" >ДВЕРЬ ПЕРЕДНЯЯ - ЗАМКИ, РУЧКИ</a>
												<a class="accordion__content-link" href="#" >ДВЕРЬ ПЕРЕДНЯЯ - ПАНЕЛИ, СТЕКЛА</a>
												<a class="accordion__content-link" href="#" >ДВЕРЬ ПЕРЕДНЯЯ - СТЕКЛОПОДЪЕМНИК, ПЕТЛИ</a>
												<a class="accordion__content-link" href="#" >ЗАГЛУШКИ</a>
												<a class="accordion__content-link" href="#" >ЗАДНИЕ МОЛДИНГИ</a>
												<a class="accordion__content-link" href="#" >ЗАДНИЕ СИДЕНИЯ</a>
												<a class="accordion__content-link" href="#" >ЗАМКИ</a>
												<a class="accordion__content-link" href="#" >ЗАМОК КАПОТА, ПЕТЛИ</a>
												<a class="accordion__content-link" href="#" >ИЗОЛЯЦИЯ ПОЛА</a>
												<a class="accordion__content-link" href="#" >КАПОТ, ПЕРЕДНИЕ КРЫЛЬЯ</a>
												<a class="accordion__content-link" href="#" >КОВРИКИ, ПОКРЫТИЕ ПОЛА</a>
												<a class="accordion__content-link" href="#" >КРЕПЛЕНИЕ АКБ</a>
												<a class="accordion__content-link" href="#" >КРЕПЛЕНИЕ ЗАПАСНОГО КОЛЕСА</a>
												<a class="accordion__content-link" href="#" >КРЫША, ЗАДНЕЕ СТЕКЛО</a>
												<a class="accordion__content-link" href="#" >ОТДЕЛКА И ПОКРЫТИЕ БАГАЖНОГО ОТДЕЛЕНИЯ</a>
												<a class="accordion__content-link" href="#" >ОТДЕЛКА КРЫШИ</a>
												<a class="accordion__content-link" href="#" >ПАНЕЛИ ПОЛА И БАГАЖНИКА</a>
												<a class="accordion__content-link" href="#" >ПЕДАЛЬ ГАЗА</a>
												<a class="accordion__content-link" href="#" >ПЕРЕДНИЕ МОЛДИНГИ</a>
												<a class="accordion__content-link" href="#" >ПЕРЕДНИЕ СИДЕНИЯ</a>
												<a class="accordion__content-link" href="#" >ПЕРЕДНЯЯ ПАНЕЛЬ, ПЕРЧАТОЧНЫЙ ЯЩИК</a>
												<a class="accordion__content-link" href="#" >ПОДЛОКОТНИКИ, КОЗЫРЬКИ</a>
												<a class="accordion__content-link" href="#" >ПОПЕРЕЧНЫЙ ЭЛЕМЕНТ ПОДВЕСКИ, ЗАЩИТА ДВИГАТЕЛЯ</a>
												<a class="accordion__content-link" href="#" >ПРЕДОСТЕРЕГАЮЩИЕ ТАБЛИЧКИ</a>
												<a class="accordion__content-link" href="#" >РЕМНИ БЕЗОПАСНОСТИ, ДЕТСКИЕ КРЕСЛА</a>
												<a class="accordion__content-link" href="#" >РЕШЕТКА РАДИАТОРА</a>
												<a class="accordion__content-link" href="#" >ТОПЛИВНЫЙ БАК И ТРУБКИ</a>
												<a class="accordion__content-link" href="#" >ФАРТУК ПЕРЕДНИХ КРЫЛЬЕВ И ПРИБОРНОЙ ПАНЕЛИ</a>
												<a class="accordion__content-link" href="#" >ЦЕНТРАЛЬНАЯ КОНСОЛЬ, БОКС</a>
												<a class="accordion__content-link" href="#" >ЭМБЛЕМЫ, НАКЛЕЙКИ</a>
												<a class="accordion__content-link" href="#" >Капот, крылья, облицовка радиатора (оперение)</a>
											</div>
										</div>
									</div>
									<!-- Электрооборудование -->
									<div class="accordion__item accordion__item-fix">
										<div class="accordion__header">
											Электрооборудование
										</div>
										<div class="accordion__body">
											<div class="accordion__content">
												<a class="accordion__content-link" href="#">Приборы и датчики</a>
												<a class="accordion__content-link" href="#">Радиооборудование</a>
												<a class="accordion__content-link" href="#">ABS & VSC</a>
												<a class="accordion__content-link" href="#">CAMERA & REAR MONITOR DISPLAY</a>
												<a class="accordion__content-link" href="#">CИСТЕМА ПРЕДУПРЕЖДЕНИЯ СТОЛКНОВЕНИЙ</a>
												<a class="accordion__content-link" href="#">АКБ И ПРОВОДКА</a>
												<a class="accordion__content-link" href="#">АНТЕННА</a>
												<a class="accordion__content-link" href="#">БЕСПРОВОДНОЙ ЦЕНТРАЛЬНЫЙ ЗАМОК</a>
												<a class="accordion__content-link" href="#">БОКОВЫЕ СИГНАЛЫ ПОВОРОТА И СИГНАЛЫ НА ЗЕРКАЛАХ</a>
												<a class="accordion__content-link" href="#">ДАТЧИКИ ПАРКОВКИ, ДАТЧИК ДОРОЖНОГО ПРОСВЕТА</a>
												<a class="accordion__content-link" href="#">ДАТЧИКИ, ПЕРЕКЛЮЧАТЕЛИ, РЕЛЕ</a>
												<a class="accordion__content-link" href="#">ДИНАМИК</a>
												<a class="accordion__content-link" href="#">ЗАДНИЕ ФАРЫ</a>
												<a class="accordion__content-link" href="#">ЗЕРКАЛА</a>
												<a class="accordion__content-link" href="#">ИНВЕРТОР</a>
												<a class="accordion__content-link" href="#">КОНДИЦИОНИРОВАНИЕ И ОБОГРЕВ - БЛОК ОХЛАДИТЕЛЯ</a>
												<a class="accordion__content-link" href="#">КОНДИЦИОНИРОВАНИЕ И ОБОГРЕВ - БЛОК УПРАВЛЕНИЯ, ВОЗДУХОВОДЫ</a>
												<a class="accordion__content-link" href="#">КОНДИЦИОНИРОВАНИЕ И ОБОГРЕВ - КОМПРЕССОР</a>
												<a class="accordion__content-link" href="#">КОНДИЦИОНИРОВАНИЕ И ОБОГРЕВ - ПАТРУБКИ</a>
												<a class="accordion__content-link" href="#">КОНДИЦИОНИРОВАНИЕ И ОБОГРЕВ - ТРУБКИ СИСТЕМЫ ОХЛАЖДЕНИЯ</a>
												<a class="accordion__content-link" href="#">КРУИЗ-КОНТРОЛЬ</a>
												<a class="accordion__content-link" href="#">НАВИГАЦИОННАЯ СИСТЕМА, ДИСПЛЕЙ</a>
												<a class="accordion__content-link" href="#" >ОСВЕЩЕНИЕ САЛОНА</a>
												<a class="accordion__content-link" href="#" >ОТРАЖАТЕЛЬ</a>
												<a class="accordion__content-link" href="#" >ОХЛАЖДЕНИЕ ИНВЕРТОРА</a>
												<a class="accordion__content-link" href="#" >ОЧИСТИТЕЛЬ ПЕРЕДНИХ ФАР</a>
												<a class="accordion__content-link" href="#" >ПЕРЕДНИЕ ФАРЫ</a>
												<a class="accordion__content-link" href="#" >ПОДСВЕТКА ЗАДНЕГО НОМЕРНОГО ЗНАКА</a>
												<a class="accordion__content-link" href="#" >ПОДУШКА БЕЗОПАСНОСТИ</a>
												<a class="accordion__content-link" href="#" >ПРИБОРЫ, ЧАСЫ, ДАТЧИК СКОРОСТИ</a>
												<a class="accordion__content-link" href="#" >ПРОВОДКА, КРЕПЛЕНИЕ И КОННЕКТОРЫ</a>
												<a class="accordion__content-link" href="#" >ПРОТИВОТУМАННЫЕ ФАРЫ</a>
												<a class="accordion__content-link" href="#" >ПРОТИВОУГОННАЯ СИСТЕМА</a>
												<a class="accordion__content-link" href="#" >РАДИО, УСИЛИТЕЛЬ</a>
												<a class="accordion__content-link" href="#" >СИГНАЛ</a>
												<a class="accordion__content-link" href="#" >СИСТЕМА СЛЕЖЕНИЯ ЗА ДАВЛЕНИЕМ В КОЛЕСАХ</a>
												<a class="accordion__content-link" href="#" >СТЕКЛООМЫВАТЕЛЬ ЗАДНИЙ</a>
												<a class="accordion__content-link" href="#" >СТЕКЛООМЫВАТЕЛЬ ПЕРЕДНИЙ</a>
												<a class="accordion__content-link" href="#" >СТЕКЛООЧИСТИТЕЛЬ ЗАДНИЙ</a>
												<a class="accordion__content-link" href="#" >СТЕКЛООЧИСТИТЕЛЬ ПЕРЕДНИЙ</a>
												<a class="accordion__content-link" href="#" >ТЕЛЕФОН И СИГНАЛ SOS</a>
												<a class="accordion__content-link" href="#" >ЦЕНТРАЛЬНЫЙ СТОП-СИГНАЛ</a>
												<a class="accordion__content-link" href="#" >ЭЛЕКТРОННАЯ СИСТЕМА ВПРЫСКА ТОПЛИВА</a>
												<a class="accordion__content-link" href="#" >Зеркала заднего вида и элементы</a>
											</div>
										</div>
									</div>
									<!-- Топливная система -->
									<div class="accordion__item accordion__item-fix">
										<div class="accordion__header">
											Топливная система
										</div>
										<div class="accordion__body">
											<div class="accordion__content">
												<a class="accordion__content-link" href="#">СИСТЕМА ВПРЫСКА ТОПЛИВА</a>
												<a class="accordion__content-link" href="#">СИСТЕМЫ РЕЦИРКУЛЯЦИИ ОТРАБОТАННЫХ ГАЗОВ</a>
											</div>
										</div>
									</div>
									<a class="accordion__content-link" href="#">Климат контроль</a>
								</div>
							</div>
						</div>
						<!-- запчасти б/у -->
						<div class="accordion__item">
							<a class="accordion__header accordion__content-link" href="#">
								Запчасти б/у
							</a>
							<div class="accordion__body">
								<div class="accordion__content">
								</div>
							</div>
						</div>
						<!-- Аккумуляторы -->
						<div class="accordion__item">
							<div class="accordion__header">
								Аккумуляторы
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Аккумуляторы, АКБ</a>
									<a class="accordion__content-link" href="#">Провода для прикуривания</a>
									<a class="accordion__content-link" href="#">Ареометры электролита</a>
									<a class="accordion__content-link" href="#">Вилки нагрузочные для АКБ</a>
									<a class="accordion__content-link" href="#">Клеммы для аккумуляторов</a>
									<a class="accordion__content-link" href="#">Провода АКБ и перемычки</a>
									<a class="accordion__content-link" href="#">Смазки для клемм АКБ</a>
									<a class="accordion__content-link" href="#">Электролит и дистиллированная вода</a>
								</div>
							</div>
						</div>
						<!-- Масла и технические жидкости -->
						<div class="accordion__item">
							<div class="accordion__header">
								Масла и технические жидкости
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Автомобильные моторые масла</a>
									<a class="accordion__content-link" href="#">Жидкости омывателя</a>
									<a class="accordion__content-link" href="#">Антифризы</a>
									<a class="accordion__content-link" href="#">Трансмисионные масла</a>
									<a class="accordion__content-link" href="#">Промывки и очистители</a>
									<a class="accordion__content-link" href="#">Тормозные жидкости</a>
									<a class="accordion__content-link" href="#">Гидравлические жидкости</a>
									<a class="accordion__content-link" href="#">Жидкость ГУР</a>
									<a class="accordion__content-link" href="#">Жидкость адсорбирующая (adblue)</a>
									<a class="accordion__content-link" href="#">Электролит, вода дистиллированная</a>
									<a class="accordion__content-link" href="#">Присадки</a>
									<a class="accordion__content-link" href="#">Смазки</a>
									<a class="accordion__content-link" href="#">Герметики</a>
								</div>
							</div>
						</div>
						<!-- Расходники и комплектующие -->
						<div class="accordion__item">
							<div class="accordion__header">
								Расходники и комплектующие
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Фильтры и элементы</a>
									<a class="accordion__content-link" href="#">Автолампы, свечи, фары, электрика</a>
									<a class="accordion__content-link" href="#">Щетки стеклоочистителя и ленты</a>
									<a class="accordion__content-link" href="#">Метизы: крепеж, болты, гайки</a>
									<a class="accordion__content-link" href="#">Подшипники</a>
									<a class="accordion__content-link" href="#">Рукава высокого давления (РВД)</a>
									<a class="accordion__content-link" href="#">Шланги маслобензостойкие (ШМБС)</a>
									<a class="accordion__content-link" href="#">Пологи, тенты и тросы тентов</a>
								</div>
							</div>
						</div>
						<!-- Диски -->
						<div class="accordion__item">
							<div class="accordion__header">
								Диски
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Диски колесные</a>
									<a class="accordion__content-link" href="#">Колеса в сборе</a>
									<a class="accordion__content-link" href="#">Адаптеры колесного диска</a>
									<a class="accordion__content-link" href="#">Вентили, золотники, эмблемы</a>
									<a class="accordion__content-link" href="#">Гайки, болты колесные</a>
									<a class="accordion__content-link" href="#">Грузики балансировочные</a>
									<a class="accordion__content-link" href="#">Колпаки на колеса</a>
								</div>
							</div>
						</div>
						<!-- Шины -->
						<div class="accordion__item">
							<div class="accordion__header">
								Шины
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Автомобильные шины</a>
									<a class="accordion__content-link" href="#">Аптечки для ремонта шин, жгуты, заплатки</a>
									<a class="accordion__content-link" href="#">Камеры и ленты ободные</a>
									<a class="accordion__content-link" href="#">Датчики давления шин</a>
									<a class="accordion__content-link" href="#">Чернители шин</a>
									<a class="accordion__content-link" href="#">Пакеты и чехлы для колес</a>
								</div>
							</div>
						</div>
						<!-- Тюнинг и Аксессуары -->
						<div class="accordion__item">
							<div class="accordion__header">
								Тюнинг и Аксессуары
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Автозвук и навигация</a>
									<a class="accordion__content-link" href="#">Багажники, органайзеры, крепление багажа</a>
									<a class="accordion__content-link" href="#">Видеорегистраторы, радар-детекторы и антирадары</a>
									<a class="accordion__content-link" href="#">Газобаллонное оборудование</a>
									<a class="accordion__content-link" href="#">Зарядки для телефонов, инверторы, алкотестеры</a>
									<a class="accordion__content-link" href="#">Коврики салона и чехлы сидений</a>
									<a class="accordion__content-link" href="#">Колеса рулевые, чехлы и ручки КПП</a>
									<a class="accordion__content-link" href="#">Кресла, подушки, адаптеры ремней</a>
									<a class="accordion__content-link" href="#">Литература, каталоги</a>
									<a class="accordion__content-link" href="#">Сигнализации, блокираторы, сирены</a>
									<a class="accordion__content-link" href="#">Тюнинг внешний и внутренний</a>
									<a class="accordion__content-link" href="#">Холодильники автомобильные</a>
								</div>
							</div>
						</div>
						<!-- Автокосметика, краски, средства по уходу -->
						<div class="accordion__item">
							<div class="accordion__header">
								Автокосметика, краски, средства по уходу
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Освежители воздуха</a>
									<a class="accordion__content-link" href="#">Краски, автоэмали, карандаши</a>
									<a class="accordion__content-link" href="#">Лак, грунт, растворители</a>
									<a class="accordion__content-link" href="#">Краски и грунтовки</a>
									<a class="accordion__content-link" href="#">Очистители и промывки</a>
									<a class="accordion__content-link" href="#">Средства по уходу</a>
								</div>
							</div>
						</div>
						<!-- Автохимия, смазки, присадки -->
						<div class="accordion__item">
							<div class="accordion__header">
								Автохимия, смазки, присадки
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Масла</a>
									<a class="accordion__content-link" href="#">Охлаждающие жидкости</a>
									<a class="accordion__content-link" href="#">Антикор, мастики, мовиль</a>
									<a class="accordion__content-link" href="#">Клей, герметик, сварка</a>
									<a class="accordion__content-link" href="#">Омыватели стекла. Незамерзайка</a>
									<a class="accordion__content-link" href="#">Присадки, антигели</a>
									<a class="accordion__content-link" href="#">Смазки, жидкие ключи</a>
									<a class="accordion__content-link" href="#">Прочие средства и ГСМ</a>
								</div>
							</div>
						</div>
						<!-- Наборы и принадлежности -->
						<div class="accordion__item">
							<div class="accordion__header">
								Автохимия, смазки, присадки
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Аптечки, огнетушители, знаки остановки</a>
									<a class="accordion__content-link" href="#">Компрессоры, насосы, шланги</a>
									<a class="accordion__content-link" href="#">Домкраты</a>
									<a class="accordion__content-link" href="#">Тросы буксировочные</a>
									<a class="accordion__content-link" href="#">Провода для прикуривания</a>
									<a class="accordion__content-link" href="#">Упоры противооткатные</a>
									<a class="accordion__content-link" href="#">Стяжки крепления груза</a>
									<a class="accordion__content-link" href="#">Цепи противоскольжения</a>
									<a class="accordion__content-link" href="#">Канистры</a>
									<a class="accordion__content-link" href="#">Щетки для снега и воды, скребки, салфетки</a>
									<a class="accordion__content-link" href="#">Сцепки жесткие</a>
								</div>
							</div>
						</div>
						<!-- услуги -->
						<div class="accordion__item">
							<div class="accordion__header">
								Услуги
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Техническое обслуживание</a>
									<a class="accordion__content-link" href="#">Страховки</a>
									<a class="accordion__content-link" href="#">Кредиты</a>
									<a class="accordion__content-link" href="#">Юридические услуги</a>
									<a class="accordion__content-link" href="#">Обучение</a>
									<a class="accordion__content-link" href="#">Тюнинг и проектирование</a>
								</div>
							</div>
						</div>
						<!-- Мероприятия -->
						<div class="accordion__item">
							<a class="accordion__header accordion__content-link" href="#">
								Мероприятия
							</a>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Шоу</a>
									<a class="accordion__content-link" href="#">Выставки</a>
									<a class="accordion__content-link" href="#">Пробеги</a>
									<a class="accordion__content-link" href="#">Соревнования</a>
								</div>
							</div>
						</div>
						<!-- WiKi -->
						<div class="accordion__item">
							<a class="accordion__header accordion__content-link" href="#">
								WiKi
							</a>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Информация о автомобилях</a>
									<a class="accordion__content-link" href="#">Информация о запчастях</a>
									<a class="accordion__content-link" href="#">Исследования</a>
								</div>
							</div>
						</div>
					</div>
					<!-- мотоциклы -->
					<div class="content2">
						<div class="accordion__item">
							<div class="accordion__header">
								Запчасти
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Запчасти для ТО</a>
									<a class="accordion__content-link" href="#">Рама, кузов</a>
									<a class="accordion__content-link" href="#">Обвес кузова</a>
									<a class="accordion__content-link" href="#">Электрика</a>
									<a class="accordion__content-link" href="#">Освещение, сигнализация</a>
									<a class="accordion__content-link" href="#">Система охлаждения</a>
									<a class="accordion__content-link" href="#">Тормозная система</a>
									<a class="accordion__content-link" href="#">Трансмиссия, элементы подвески и управления</a>
									<a class="accordion__content-link" href="#">Питание и управление двигателем, выхлопная система</a>
									<a class="accordion__content-link" href="#">Колеса</a>
									<a class="accordion__content-link" href="#">Двигатель</a>
								</div>
							</div>
						</div>
						<div class="accordion__item">
							<a class="accordion__header accordion__content-link" href="#">
								Запчасти б/у
							</a>
							<div class="accordion__body">
								<div class="accordion__content">
								</div>
							</div>
						</div>
						<div class="accordion__item">
							<div class="accordion__header">
								Аккумуляторы
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Bosch</a>
									<a class="accordion__content-link" href="#">Delta</a>
									<a class="accordion__content-link" href="#">Varta</a>
									<a class="accordion__content-link" href="#">Red Energy</a>
								</div>
							</div>
						</div>
						<div class="accordion__item">
							<div class="accordion__header">
								Тюнинг и Аксессуары
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Сумки и багаж</a>
									<a class="accordion__content-link" href="#">Противоугонные устройства</a>
									<a class="accordion__content-link" href="#">Держатели навигаторов</a>
									<a class="accordion__content-link" href="#">Чехлы</a>
									<a class="accordion__content-link" href="#">Боковые зеркала и аксессуары</a>
									<div class="accordion__item accordion__item-fix">
										<div class="accordion__header">
											Мотоэлектроника
										</div>
										<div class="accordion__body">
											<div class="accordion__content">
												<a class="accordion__content-link" href="#">Акустика</a>
												<a class="accordion__content-link" href="#">Навигаторы</a>
												<a class="accordion__content-link" href="#">Мотогарнитуры</a>
												<a class="accordion__content-link" href="#">Свет</a>
												<a class="accordion__content-link" href="#">Сигнализации</a>
											</div>
										</div>
									</div>
									<div class="accordion__item accordion__item-fix">
										<div class="accordion__header">
											Гаражное оборудование
										</div>
										<div class="accordion__body">
											<div class="accordion__content">
												<a class="accordion__content-link" href="#">Рампы</a>
												<a class="accordion__content-link" href="#">Подкаты</a>
												<a class="accordion__content-link" href="#">Подъемники</a>
											</div>
										</div>
									</div>
									<a class="accordion__content-link" href="#">Звезды и цепи</a>
									<a class="accordion__content-link" href="#">Наклейки и накладки</a>
									<a class="accordion__content-link" href="#">Ручки и грипсы</a>
									<a class="accordion__content-link" href="#">Обтекатели и стекла</a>
									<a class="accordion__content-link" href="#">Фильтры</a>
									<a class="accordion__content-link" href="#">Выхлоп</a>
									<div class="accordion__item accordion__item-fix">
										<div class="accordion__header">
											Защита
										</div>
										<div class="accordion__body">
											<div class="accordion__content">
												<a class="accordion__content-link" href="#">Защита ручек</a>
												<a class="accordion__content-link" href="#">Защита двигателя</a>
												<a class="accordion__content-link" href="#">Защита кофров</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="accordion__item">
							<div class="accordion__header">
								Масла и мотохимия
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Моторные масла</a>
									<a class="accordion__content-link" href="#">Вилочное масло</a>
									<a class="accordion__content-link" href="#">Охлаждающие жидкости</a>
									<a class="accordion__content-link" href="#">Клей, герметик, сварка</a>
									<a class="accordion__content-link" href="#">Смазки, жидкие ключи</a>
								</div>
							</div>
						</div>
						<div class="accordion__item">
							<div class="accordion__header">
								Мотоинструмент
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Съемники</a>
									<a class="accordion__content-link" href="#">Приборы диагностики</a>
									<a class="accordion__content-link" href="#">Ключи</a>
								</div>
							</div>
						</div>
						<div class="accordion__item">
							<div class="accordion__header">
								Шины
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Классика</a>
									<a class="accordion__content-link" href="#">Кросс</a>
									<a class="accordion__content-link" href="#">Спорт</a>
									<a class="accordion__content-link" href="#">Спорт-турист</a>
									<a class="accordion__content-link" href="#">Трек</a>
									<a class="accordion__content-link" href="#">Чепер Круизер</a>
									<a class="accordion__content-link" href="#">Эндуро</a>
								</div>
							</div>
						</div>
						<div class="accordion__item">
							<div class="accordion__header">
								Экипировка
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Шлемы</a>
									<a class="accordion__content-link" href="#">Комбинезоны</a>
									<a class="accordion__content-link" href="#">Костюмы</a>
									<a class="accordion__content-link" href="#">Штаны</a>
									<a class="accordion__content-link" href="#">Джерси</a>
									<a class="accordion__content-link" href="#">Защита </a>
									<a class="accordion__content-link" href="#">Куртки</a>
									<a class="accordion__content-link" href="#">Термобелье</a>
									<a class="accordion__content-link" href="#">Маски и балаклавы</a>
									<a class="accordion__content-link" href="#">Ботинки</a>
									<a class="accordion__content-link" href="#">Перчатки</a>
									<a class="accordion__content-link" href="#">Дождевики  и бахилы</a>
									<a class="accordion__content-link" href="#">Женская экипировка</a>
									<a class="accordion__content-link" href="#">Детсткая экипировка</a>
									<a class="accordion__content-link" href="#">Комплекты экипировки</a>
								</div>
							</div>
						</div>
						<div class="accordion__item">
							<div class="accordion__header">
								Услуги
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Страховки</a>
									<a class="accordion__content-link" href="#">Кредиты</a>
									<a class="accordion__content-link" href="#">Ремонт</a>
									<a class="accordion__content-link" href="#">ТО</a>
									<a class="accordion__content-link" href="#">Обучение</a>
									<a class="accordion__content-link" href="#">Тюнинг и постпройка </a>
									<a class="accordion__content-link" href="#">Юридические услуги</a>
								</div>
							</div>
						</div>
						<div class="accordion__item">
							<div class="accordion__header">
								Мероприятия
							</div>
							<div class="accordion__body">
								<div class="accordion__content">
									<a class="accordion__content-link" href="#">Мотопробеги</a>
									<a class="accordion__content-link" href="#">Фестивали</a>
									<a class="accordion__content-link" href="#">Открытия/закрытия</a>
									<a class="accordion__content-link" href="#">Путешествия</a>
								</div>
							</div>
						</div>
						<div class="accordion__item">
							<a class="accordion__header accordion__content-link" href="#">
								Литература
							</a>
							<div class="accordion__body">
								<div class="accordion__content">
								</div>
							</div>
						</div>
						<div class="accordion__item">
							<a class="accordion__header accordion__content-link" href="#">
								WiKi
							</a>
							<div class="accordion__body">
								<div class="accordion__content">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>