<div class="dashboard__top">
	<div class="dashboard__before">
		<img class="dashboard__before-img" src="../img/icons/searchIcon.svg" alt="search" draggable="false">
		<input class="dashboard__search" type="text" placeholder="Поиск по артикулу или названию">
	</div>
	<div class="dashboard__top-btns">
		<button class="dashboard__top-btn" type="button">Конвеерная загрузка товара</button>
		<button class="dashboard__top-btn" type="button">Загрузка файлов</button>
	</div>
</div>