<div class="dashboard__top">
	<div class="dashboard__before">
		<img class="dashboard__before-img" src="../img/icons/searchIcon.svg" alt="search" draggable="false">
		<input class="dashboard__search" id="searchInputTree" type="text" placeholder="Поиск по категории или названию">
		<button class="dashboard__before-btn-create" id="btnCreateTree">Создать</button>
	</div>
</div>