<section class="search">
	<div class="container">
		<div class="search__inner">
			<button class="catalog-2">
				<img class="catalog__img" src="img/icons/burger_icon_mobile.svg" alt="">
			</button>
			<form class="header__search-2 header-form" action="#">
				<div class="tag-container2">

				</div>
				<input class="header__input-2 headerInput" type="text" placeholder="Искать на 7bolt" autocomplete="off">
				<input class="header__input-2 HeaderVinInput" type="text" placeholder="Искать на 7bolt" id="vinInput2"
					autocomplete="off">
				<button class="header__btn vin vinBtn2" type="button">
					<img src="img/icons/VIN.svg" alt="vin">
				</button>
				<!-- <button class="header__btn" id="searchBtn">
					<img src="img/icons/searchFilter.svg" alt="searchFilter" draggable="false">
				</button> -->
				<button class="header__btn photo" type="button">
					<img class="header__btn-img" src="img/icons/photo.svg" alt="">
				</button>
				<button class="header__btn-search" type="submit">
					<img class="header__btn-loop" src="img/icons/loop.svg" alt="">
				</button>
				<button class="header__btn voice" type="button">
					<img class="header__btn-img" src="img/icons/voice.svg" alt="">
				</button>
			</form>
		</div>
	</div>
</section>