<section class="search">
	<div class="container">
		<div class="search__inner">
			<button class="catalog-2">
				<img class="catalog__img" src="img/icons/burger_icon_mobile.svg" alt="">
			</button>
			<form class="header__search-2" action="#">
				<input class="header__input-2" type="text" placeholder="Искать на 7bolt">
				<button class="header__btn vin">
					VIN
				</button>
				<button class="header__btn photo">
					<img class="header__btn-img" src="img/icons/photo.svg" alt="">
				</button>
				<button class="header__btn-search" type="submit">
					<img class="header__btn-loop" src="img/icons/loop.svg" alt="">
				</button>
				<button class="header__btn voice">
					<img class="header__btn-img" src="img/icons/voice.svg" alt="">
				</button>
			</form>
		</div>
	</div>
</section>